<div class="container">
<%= render 'employer/companies/navbar'%>
  <div class="col-md-10">
    <div class="row">
          <div class="card mb-3">
            <div class="card_header">
              <%= t("companies.members") %>
            </div>


            <div class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped custab">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th><%= t("exp.user") %></th>
                        <th><%= t("exp.job") %></th>
                      </tr>
                    </thead>
                    <% @bookmarks.each_with_index do |bookmark,index| %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td>
                        <%= link_to User.find(bookmark.user_id).fullname, profile_path(bookmark.user) %>
                      </td>
                      <td><%= link_to Job.find(bookmark.job_id).title, employer_job_path(bookmark.job_id)%></td>
                    </tr>
                    <% end %>
                  </table>


              </div>
            </div>
          </div>
          </div>
    </div>
  </div>
</div>
