<div class="modal" id="coverModal">
  <%= form_for @profile, method: :patch do |f| %>
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header_cover">
          <%= image_tag @profile.image if @profile.image.attached? %>
        </div>
        <div class="modal-body">
          <div class="choose_cover_image">
            <%= f.label t('userp.profile_cover_photo') %><br>
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit t("cv.submit"), class: "hello btn btn-up"%>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><%= "Cancel" %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="cover_img">
  <a href="#" class="" data-toggle="modal" data-target="#coverModal"><i class="fa fa-camera" aria-hidden="true"></i><%= t("userp.change_cover_photo") %></a>
</div>


