<div class="container">
  <%= render "users/profile_header" %>
  <div class="column-main col-md-8" >
    <h4><%= t("aj.allApplied") %></h4>
    <div class="card border-0 applied_jobs">
      <div class="card-body p-5">
        <div class="table-responsive-apply">
          <table class="table m-0">
            <thead>
              <tr>
                <th class="col-md-2" ><%= t("aj.STT") %></th>
                <th class="col-md-5"><%= t("aj.information") %></th>
                <th class="col-md-3"><%= t("aj.status_apply") %></th>
                <th class="col-md-2"><%= t("aj.cancel") %></th>
              </tr>
            </thead>
            <tbody>
              <% @applyjobs.each_with_index do |applyjob, index| %>
                <div id =applyjob-<%= applyjob.id %>>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= link_to applyjob.job.title, job_path(applyjob.job.id) %></td>
                    <td> <%= applyjob.apply_status %> </td>
                    <td><%= link_to user_applyjob_path(applyjob.user.id, applyjob.id), method: :delete,
                      data: { confirm: t("aj.you sure?") },
                      class: "btn btn-danger btn-sm rounded-0",
                      type: "button" do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                </div>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="paginate__u col-md-12">
        <%= will_paginate @applyjobs, theme: 'twitter-bootstrap-3' %>
      </div>
    </div>
  </div>
  <div class="column-side col-md-4">
    <%= render "users/profile_colum_right_side" %>
  </div>
</div>
