<div class="main-inner">
  <div class="blurred-image-overlay"></div>
  <div class="profile-header-wrapper">
    <div class="profile-header-cover-inner"></div>
    <div class="profile-header">
      <a class="ui-show-modal profile-photo-wrapper">
        <div class="profile-photo">
          profile-photo
        </div>
        <div class="edit-photo">
          <div class="icon-camera"></div>
          <font>
            Change photo
          </font>
        </div>
        </a>
        <header class="user-name-tags">
          <div class="profile-name-top">
            <div class="name-and-tagline">
              <h3>
                <%= @user.fullname %>
              </h3>
            </div>
          </div>
        </header>
      </div>
    </div>
  <div class="two-column col-md-12">
    <div class="row">


      <div class="column-main col-md-8" >
          <div class="card border-0 applied_jobs">
            <div class="card-body p-5">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th class="col-md-2" ><%= t("aj.STT") %></th>
                      <th class="col-md-5"><%= t("aj.information") %></th>
                      <th class="col-md-3"></th>
                      <th class="col-md-2"><%= t("aj.delete") %></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @applyjobs.each_with_index do |applyjob, index| %>
                    <div id =applyjob-<%= applyjob.id %>>
                    <tr>
                      <td><%= index+1%></td>
                      <td><%= link_to applyjob.job.title, job_path(applyjob.job.id) %></td>
                      <td></td>
                      <td><%= link_to user_applyjob_path(applyjob.user.id, applyjob.id), method: :delete,
                        data: { confirm: t("aj.you sure?") },
                        class: "btn btn-danger btn-sm rounded-0",
                        type: "button" do %>
                          <i class="fa fa-trash"></i>
                        <% end %>
                      </td>
                    </tr>
                    </div>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
      <%= will_paginate %>


      <div class="column-side col-md-4">
        <div class="user-profile col-md-12 ">
          <section class="user-profile-aside-section contact-section row">
            <%= render "users/user_edit_profile" %>
            <h5>
              <font class="contact-to-colection">
                Contact to publish to the connection:
              </font>
            </h5>
            <div class="editable-attribute col-md-12">
              <div class="contact-line col-md-12">
                <div class="row">
                  <div class="icon-phone contact-icon col-md-2">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="contact-value col-md-8">
                    <%= @user.phone %>
                  </div>
                </div>
              </div>
              <div class="contact-line col-md-12">
                <div class="row">
                  <div class="icon-email contact-icon col-md-2">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                  <div class="contact-value col-md-8">
                    <%= @user.email %>
                  </div>
                </div>
              </div>
              <div class="contact-line col-md-12">
                <div class="row">
                  <div class="icon-email contact-icon col-md-2">
                    <i class="fa fa-home" aria-hidden="true"></i>
                  </div>
                  <div class="contact-value col-md-8">
                    <%= @user.address %>
                  </div>
                </div>
              </div>
              <div class="contact-line col-md-12">
                <div class="row">
                  <div class="icon-sex contact-icon col-md-2">
                    <i class="fa fa-venus-mars" aria-hidden="true"></i>
                  </div>
                  <div class="contact-value col-md-8">
                    <%= @user.sex %>
                  </div>
                </div>
              </div>
              <div class="contact-line col-md-12">
                <div class="row">
                  <div class="icon-dob contact-icon col-md-2">
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                  </div>
                  <div class="contact-value col-md-8">
                    <%= @user.dob %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="clearfix"></div>
          <%= link_to user_applyjobs_path(current_user), :action => 'go' do %>
          <div class="jobs-aready-applied" >
            <section class="user-jobs-aready-applied">
              <div class="icon-jobs-applied">
                  <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
              </div>
              <div class="applied">
                <h5>Applied</h5>
              </div>
            </section>
          </div>
          <% end %>
        <div class="user-saved-jobs">
          <section class="user-all-saved-jobs">
            <div class="icon-jobs-bookmark">
              <i class="fa fa-bookmark fa-4x" aria-hidden="true"></i>
            </div>
            <div class="jobs-saved">
              <h5>Saved Job</h5>
          </section>
        </div>
        <div class="saved-jobs">
          <section class="user-all-saved-jobs">
            <%= "link to show all: user's saved jobs" %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
