<% provide(:title, 'Profile-Company') %>
<!DOCTYPE html>
<!-- saved from url=(0047)https://timviec.com.vn/nha-tuyen-dung/dashboard -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3">
    <link rel="shortcut icon" type="image/x-icon" href="https://timviec.com.vn/favicon.png" id="favicon">

        <meta name="jwt-token" content="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvdGltdmllYy5jb20udm5cL25oYS10dXllbi1kdW5nXC9kYXNoYm9hcmQiLCJpYXQiOjE1OTUyMzc2MjQsImV4cCI6NTE5NTIzNzYyNCwibmJmIjoxNTk1MjM3NjI0LCJqdGkiOiJpelgxSWVTZDFzVXJqUW8yIiwic3ViIjoyMjQ4NDMsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.TFh7kswkoprfoJfXdxHG3JAw1Ivl-QIhovloN0PODPs">
    <meta name="current-user-id" content="224843">
        <title>Timviec.com.vn</title>
    <!-- stack styles -->
<!-- ./stack styles -->


    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/base.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/select2.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/jquery.scrollbar.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/datepicker.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/style.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/custom1.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/custom2.css">

    <!-- Toastr style -->
    <link href="./Timviec.com.vn_files/toastr.min.css" rel="stylesheet">

    <!-- stack css -->
<!-- ./stack css -->

    <script async="" src="./Timviec.com.vn_files/analytics.js"></script><script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-141604555-1', 'auto');
        ga('send', 'pageview');
    </script>

<style></style></head>
<body>
                            <div class="container">
                            <span class="mb-0">Đình Sơn</span><i class="fas fa-caret-down pl-5"></i>
                                               </a>
                        <ul class="hs-sub-menu list-unstyled">
                            <li class="dropdown-item">
                                          <span>Xin chào <b>Đình Sơn</b>!</span>
                                    <div class="text-left">
                                         <span class="color-999 mb-0 mr-20 fs-13">Công ty: <strong class="text-danger">SUN</strong></span><br>

                                    </div>
                                 </li>
                            <li class="dropdown-item">
                                <a href="https://timviec.com.vn/nha-tuyen-dung/doi-mat-khau"><i class="fas fa-cog"></i> Cài đặt mật khẩu</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="https://timviec.com.vn/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
              </ul>
            </div>
            <!-- End Navigation -->
        </div>
    </nav>
</header>
        <!--  content -->
            <div id="main-wrapper">
            <!--  content -->
            <div class="container">
                  <div class="tv-content-left">
    <div class="tv-profile-left">
        <div class="tv-published-recruitment bg-fc205c color-white text-center ph-20 pv-8">
            <a href="https://timviec.com.vn/nha-tuyen-dung/dang-tin" class="color-white" style="color: white !important;">
                <p class="mb-5 fw-500"><%= image_tag ("upload-1.png")  ,class: "icon-flat"  %>  Đăng tin tuyển dụng</p>
                <p class="mb-0 fs-13 font-italic">Cách nhanh nhất để tìm ứng viên</p>
            </a>
        </div>
        <div class="tv-profile-main text-center">
            <%= image_tag (  "53084621_2139928302709654_2474839033029591040_n.png")  ,class: "tv-profile-img"  %>
            <h2 class="tv-profile-name fs-16 mt-10">SUN</h2>
            <div class="text-center">
                <span class="color-999 mb-0 mr-20">Điểm: <strong class="text-danger"> 0</strong></span>
                <span class="color-999 mb-0">Điểm tặng: <strong class="text-danger">0</strong></span>
            </div>
        </div>
        <div class="tv-pro-nav-side-menu" style="">
            <div class="menu-list">
                <ul class="tv-pro-nav-menu list-unstyled text-left">
                    <li class="">

                        <a href="job-post.html">  <%= image_tag ("setting.png")  ,class: "icon-flat"  %> Quản lý chung </a>
                    </li>
                    <li class="">

                        <a href="https://timviec.com.vn/nha-tuyen-dung/tim-ung-vien-phu-hop" class="pr-0">
                           <%= image_tag (  "search.png")  ,class: "icon-flat"  %> Tìm ứng viên phù hợp
                            <span class="badge badge-danger position-relative" style="top: -8px; left: 0px;">HOT</span>
                        </a>
                    </li>


                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/dang-tin">
                            <%= image_tag ("upload.png")  ,class: "icon-flat"  %>
                             Đăng tin tuyển dụng</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/tat-ca-tin-tuyen-dung"> <%= image_tag ("forms.png")  ,class: "icon-flat"  %> Tất cả tuyển dụng</a>
                    </li>
                     <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/hr-ung-vien-tham-gia-phong-van" style="padding-left: 12px;"><i class="fal fa-users" style="margin-right: 6px;font-size: 18px;color: #666;"></i>Ứng viên</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/hr-vi-tri-phong-van"><%= image_tag ("work.png")  ,class: "icon-flat"  %>  Vị trí phỏng vấn</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/hr-lich-bieu-phong-van"><%= image_tag ("forms.png")  ,class: "icon-flat"  %>  Biểu lịch phỏng vấn</a>
                    </li>



                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-luu"><%= image_tag ("start.png")  ,class: "icon-flat"  %>  Hồ sơ đã lưu</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-ung-tuyen"><%= image_tag ("resume.png")  ,class: "icon-flat"  %>  Hồ sơ đã ứng tuyển</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-xem"><%= image_tag ("check.png")  ,class: "icon-flat"  %>  Hồ sơ đã xem thông tin</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/quan-ly-dich-vu-va-dang-tin"><%= image_tag ("system.png")  ,class: "icon-flat"  %>  Quản lý dịch vụ</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/thong-bao-ho-so-phu-hop"><%= image_tag ("notification.png")  ,class: "icon-flat"  %>  Thông báo hồ sơ phù hợp</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/tin-nhan"><%= image_tag ("email.png")  ,class: "icon-flat"  %>  Tin nhắn</a>
                    </li>
                    <li class="active">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/cap-nhat-thong-tin-cong-ty"><<%= image_tag ("work.png")  ,class: "icon-flat"  %>  Thông tin công ty</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/danh-sach-chien-dich"><%= image_tag ("resume.png")  ,class: "icon-flat"  %>  Danh sách chiến dịch</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/quan-ly-email"><%= image_tag ("email.png")  ,class: "icon-flat"  %>  Mẫu Email phỏng vấn</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/email-da-gui"><%= image_tag ("email.png")  ,class: "icon-flat"  %>  Email đã gửi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


                            <div class="tv-box-traffic">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <a href="https://timviec.com.vn/nha-tuyen-dung/tat-ca-tin-tuyen-dung">
                    <div class="bg-white box_shadow pd-20 mb-20">
                        <i class="fas fa-briefcase mr-10"></i>
                        <span class="fs-24 fw-500">
                            0
                        </span>
                        <p class="mb-0">Việc làm đã đăng</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-ung-tuyen">
                    <div class="bg-white box_shadow pd-20 mb-20">
                        <i class="fas fa-file-signature mr-10"></i>
                        <span class="fs-24 fw-500">
                            0
                        </span>
                        <p class="mb-0">Hồ sơ ứng tuyển</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-luu">
                    <div class="bg-white box_shadow pd-20 mb-20">
                        <i class="fas fa-user-check mr-10"></i>
                        <span class="fs-24 fw-500">
                            0
                        </span>
                        <p class="mb-0">Hồ sơ đã lưu</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-xem">
                    <div class="bg-white box_shadow pd-20 mb-20">
                        <i class="fas fa-eye mr-10"></i>
                        <span class="fs-24 fw-500">
                            0
                        </span>
                        <p class="mb-0">Lượt xem hồ sơ</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="bg-white box_shadow pd-20 mb-20">
                    <i class="fas fa-sync mr-10"></i>
                    <span class="fs-24 fw-500">
                        0
                    </span>
                    <p class="mb-0">Số lần làm mới</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="bg-white box_shadow pd-20 mb-20">
                    <i class="fas fa-file-signature mr-10"></i>
                    <span class="fs-24 fw-500">
                       0
                    </span>
                    <p class="mb-0">Lượt xem việc làm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tv-box-list-service">
        <div class="row">
            <div class="col-6">
                <h2 class="fs-18">Danh sách dịch vụ</h2>
                <div class="bg-white box_shadow" style="height: 235px;">
                    <div class="text-center pd-20">
                                                    <div class="mb-10 text-center">

                            </div>
                            Quý khách chưa đăng ký gói dịch vụ nào.<br>
                            <a href="https://timviec.com.vn/bang-gia-goi-loc-ho-so" target="_blank" style="color: blue">Click vào đây</a> để biết thêm chi tiết hoặc vui lòng liên hệ chuyên viên hỗ trợ, tư vấn.
                                            </div>
                </div>
            </div>
            <div class="col-6">
                <h2 class="fs-18">Xem hồ sơ</h2>
                <div class="table-responsive">
                    <table class="table text-nowrap bg-white mb-0">
                        <thead>
                        <tr class="bg-main color-white">
                            <th class="fw-500 fs-15 pv-8">Số hồ sơ đã xem</th>
                            <th class="fw-500 fs-15 pv-8 text-center">Dịch vụ hồ sơ</th>
                            <th class="fw-500 fs-15 pv-8 text-center">Dịch vụ đăng tin</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="text-center">
                                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-xem" class="name-job-number color-main mt-8 mb-0 d-inline-block"> 0 </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="name-job-status mt-8 mb-0"> 0/0</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="name-job-time mt-8 mb-0">0
                                            /0</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="banner mt-20">
                    <a href="https://salary.timviec.com.vn/" target="_blank">
                        <img src="./Timviec.com.vn_files/banner-ntd.jpg" alt="banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-20"></div>
    <div class="tv-box-latest-job-list">
        <a href="https://timviec.com.vn/nha-tuyen-dung/tat-ca-tin-tuyen-dung" class="color-main float-right pt-10">Xem tất cả &gt;&gt;</a>
        <h2 class="fs-18">Danh sách tin tuyển dụng mới nhất</h2>
        <div class="table-responsive">
            <table class="table text-nowrap bg-white mb-0">
                <thead>
                <tr class="bg-main color-white">
                    <th class="fw-500 fs-16 pv-8 maxw-300">Vị trí ứng tuyển</th>
                    <th class="fw-500 fs-16 pv-8 text-center">Trạng thái</th>
                    <th class="fw-500 fs-16 pv-8 text-center">Hạn nộp</th>
                </tr>
                </thead>
                <tbody>
                                            <tr>
                            <td class="no-data" colspan="3">
                                <div class="text-center">
    <p class="fs-16"><b style="color: #000">Không có dữ liệu phù hợp ...</b></p>
</div>
                            </td>
                         </tr>
                                    </tbody>
            </table>
        </div>
    </div>
    <div class="mb-20"></div>
    <div class="tv-box-latest-application">
        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-ung-tuyen" class="color-main float-right pt-10">Xem tất cả &gt;&gt;</a>
        <h2 class="fs-18">Hồ sơ ứng tuyển mới nhất</h2>
        <div class="table-responsive">
            <table class="table text-nowrap bg-white mb-0">
                <thead>
                <tr class="bg-main color-white">
                    <th class="fw-500 fs-16 pv-8">Hồ sơ</th>
                    <th class="fw-500 fs-16 pv-8 text-center">Vị trí ứng tuyển</th>
                    <th class="fw-500 fs-1 pv-8 text-center">Ngày nộp</th>
                </tr>
                </thead>
                <tbody>
                                    <tr>
                        <td class="no-data" colspan="3">
                            <div class="text-center">
    <p class="fs-16"><b style="color: #000">Không có dữ liệu phù hợp ...</b></p>
</div>
                        </td>
                     </tr>
                                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-20"></div>
                    </div>
                </div>
            </div>
                <!-- End content -->
        </div>
    </div>

    <div class="scroll-to-top" style="opacity: 1;"><i class="fas fa-chevron-up"></i></div>


<!-- script -->

<script src="./Timviec.com.vn_files/jquery.min.js"></script>
<script src="./Timviec.com.vn_files/jquery-ui.min.js"></script>
<script src="./Timviec.com.vn_files/moment.min.js"></script>
<script src="./Timviec.com.vn_files/popper.min.js"></script>
<script src="./Timviec.com.vn_files/bootstrap.min.js"></script>
<script src="./Timviec.com.vn_files/jquery.scrollbar.min.js"></script>
<script src="./Timviec.com.vn_files/select2.min.js"></script>
<script src="./Timviec.com.vn_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./Timviec.com.vn_files/datepicker.js"></script>
<script src="./Timviec.com.vn_files/jquery.sticky-kit.min.js"></script>
<script src="./Timviec.com.vn_files/main.js"></script>
<!-- Toastr -->
<script src="./Timviec.com.vn_files/toastr.min.js"></script>
<script src="./Timviec.com.vn_files/sweetalert2@9"></script>


<script>
function getTotalNotification() {
    $.ajax({
        method: 'GET',
        headers: {
            'X-CSRF-TOKEN': 'pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3'
        },
        url: 'https://timviec.com.vn/ajax/notification',
    }).done(function(response) {
        if(response.data) {
            if(response.data.total) {
                $('#total-message').text(response.data.total).show();
            }
            $('#list-content-message-menu').html(response.data.list);
        }
    });
}
function profileRefresh() {
    $.ajax({
        url: 'https://timviec.com.vn/ajax/profile/refresh',
        type: 'get',
        success: function(data) {
            console.log(data)
        }
    });
}

$(function() {
    setTimeout(getTotalNotification(), 1000);
//    setInterval(profileRefresh(), 12000000)
});
</script>

<script>
//      $(document).ready(function() {
//          $('[data-toggle="tooltip"]').tooltip();
//      });

      $.fn.button = function(action) {
          if(action === 'loading' && this.data('loading-text')) {
              this.data('original-text', this.html()).html(this.data('loading-text')).prop('disabled', true);
          }
          if(action === 'reset' && this.data('original-text')) {
              this.html(this.data('original-text')).prop('disabled', false);
          }
      };

      $('input').dblclick(function() {
          $(this).select();
      });

      var timeoutSearch;
      $("#gridForm.autoload .change_grid:not('.date')").on('keyup', function() {
          timeoutSearch && clearTimeout(timeoutSearch);
          timeoutSearch = setTimeout(() => {
              $('#gridForm').submit();
          }, 500)
      });

      $('#gridForm.autoload select.change_grid').on('change', function() {
          $('#gridForm').submit();
      });

      $('#gridForm.autoload input.check[type=checkbox]').on('ifChanged', function() {
          $('#gridForm').submit();
      });

      $('#gridForm.autoload input.change_grid.date').on('dp.hide', function() {
          $('#gridForm').submit();
      });

      function inputIfy(containter) {
          $(containter + ' input[type=number]').click(function() {
              if($(this).val() == 0) {
                  $(this).val('');
              }
          }).blur(function() {
              if($(this).val() == '') {
                  $(this).val(0);
              } else {
                  $(this).val(parseFloat($(this).val()));
              }
          });
      }

      $("#gridForm.autoload").submit(function(e, page) {
          if(page == undefined)
              page = 1;
          $('input[name=page]').val(page);
          let url_current = "https://timviec.com.vn/nha-tuyen-dung/dashboard?" + $('input[name!=_token],select', this).serialize();
          window.history.pushState("", "", url_current);

          $('#gridTable').append('<div id="loading"></div>');
          $.post($(this).attr('action'), $(this).serialize()).done(function(data, status) {
              if(status == 'success') {
                  $('#gridTable').html(data);
                  $('#no-data').attr('colspan', $('table tr th').length).html(`<div class="text-center">
    <p class="fs-16"><b style="color: #000">Không có dữ liệu phù hợp ...</b></p>
</div>
`);
                  inputIfy('#gridTable');
              }
          })
           .fail(function() {
               alert("Có lỗi xảy ra, vui lòng kiểm tra lại");
           });
          return false;

      }).trigger("submit", [1]);

      function swalShowErrorAjax(request, title = 'Có lỗi xảy ra!') {
          console.log(request);
          if(request.status == 422) {
              if(request.responseJSON.errors) {
                  let loi = [];
                  Object.keys(request.responseJSON.errors).forEach(key => {
                      loi.push(request.responseJSON.errors[key][0] + "<br/>");
                  });
                  toastr.warning(loi);
              }
          } else {
              Swal.fire({
                  icon: 'error',
                  title: request.responseJSON.title || title,
                  text: request.responseJSON.message || 'Có lỗi xảy ra!',
              })
          }
      }

      function getSearchCr(token = true) {
          let str = location.search.substr(1) + '&_token=pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3';
          if(!token) {
              str = location.search.substr(1);
          }
          return str;
      }

            $(".btn-candidate-show-modal").click(function(){
        localStorage.setItem('modalShowCandidate', 'true');
    });
        </script>
<script type="text/javascript">
    $(document).ready(function () {
        var isCheck = '';
        var checkRegister = '';
        var checkApply = '';
        if (isCheck) {
            if (typeof(Storage) !== 'undefined') {
                if (isCheck == 'update_info')
                    localStorage.setItem('user_check_from_email', '');
                else if(isCheck == 'post_job')
                    localStorage.setItem('user_email_marketing_post_job_first', '');
                else if(isCheck == 'apply' && checkApply) {
                    localStorage.setItem('utm_check_apply', '{"utm_source":null,"utm_campaign":null,"utm_medium":null}');
                }
                else if(isCheck && checkRegister) {
                    localStorage.setItem('utm_checking', '{"utm_source":null,"utm_campaign":null,"utm_medium":null}');

                }
            }
        }
    });
</script>

    <!-- stack scripts -->
<!-- ./stack scripts -->
<!-- ./stack js -->


<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $('#flash-overlay-modal').modal();

</script>


<!-- ./js -->

<!-- ./script -->
</body></html>
