<% provide(:title, 'Company') %>
<!DOCTYPE html>
<!-- saved from url=(0064)https://timviec.com.vn/nha-tuyen-dung/cap-nhat-thong-tin-cong-ty -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3">
    <link rel="shortcut icon" type="image/x-icon" href="https://timviec.com.vn/favicon.png" id="favicon">

        <meta name="jwt-token" content="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvdGltdmllYy5jb20udm5cL25oYS10dXllbi1kdW5nXC9jYXAtbmhhdC10aG9uZy10aW4tY29uZy10eSIsImlhdCI6MTU5NTIzNjk2MSwiZXhwIjo1MTk1MjM2OTYxLCJuYmYiOjE1OTUyMzY5NjEsImp0aSI6Ik9ETHhkNFN0QXRSamk0bFkiLCJzdWIiOjIyNDg0MywicHJ2IjoiMjNiZDVjODk0OWY2MDBhZGIzOWU3MDFjNDAwODcyZGI3YTU5NzZmNyJ9.roNwcpXKHv8iHpAioTevpKW1aiMDWG18wB9_vIyiLpM">
    <meta name="current-user-id" content="224843">
        <title>Timviec.com.vn</title>
    <!-- stack styles -->
 <link rel="stylesheet" href="./Timviec.com.vn_files/croppie.min.css">
<!-- ./stack styles -->


    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/base.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/select2.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/jquery.scrollbar.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/datepicker.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/style.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/custom1.css">
    <link type="text/css" rel="stylesheet" href="./Timviec.com.vn_files/custom2.css">

    <!-- Toastr style -->
    <link href="./Timviec.com.vn_files/toastr.min.css" rel="stylesheet">

    <!-- stack css -->
<!-- ./stack css -->

    <script async="" src="./Timviec.com.vn_files/analytics.js"></script><script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-141604555-1', 'auto');
        ga('send', 'pageview');
    </script>
                        <style>
                        </style></head>
                        <body>
                            <div class="container">
                            <span class="mb-0">Đình Sơn</span><i class="fas fa-caret-down pl-5"></i>
                                               </a>
                        <ul class="hs-sub-menu list-unstyled">
                            <li class="dropdown-item">
                                          <span>Xin chào <b>Đình Sơn</b>!</span>
                                    <div class="text-left">
                                         <span class="color-999 mb-0 mr-20 fs-13">Công ty: <strong class="text-danger">SUN</strong></span><br>

                                    </div>
                                 </li>
                            <li class="dropdown-item">
                                <a href="https://timviec.com.vn/nha-tuyen-dung/doi-mat-khau"><i class="fas fa-cog"></i> Cài đặt mật khẩu</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="https://timviec.com.vn/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
              </ul>
            </div>
            <!-- End Navigation -->
        </div>
    </nav>
</header>
        <!--  content -->
            <div id="main-wrapper">
            <!--  content -->
            <div class="container">
                  <div class="tv-content-left">
    <div class="tv-profile-left">
        <div class="tv-published-recruitment bg-fc205c color-white text-center ph-20 pv-8">
            <a href="https://timviec.com.vn/nha-tuyen-dung/dang-tin" class="color-white" style="color: white !important;">
                <p class="mb-5 fw-500"><%= image_tag ("upload-1.png")  ,class: "icon-flat"  %>  Đăng tin tuyển dụng</p>
                <p class="mb-0 fs-13 font-italic">Cách nhanh nhất để tìm ứng viên</p>
            </a>
        </div>
        <div class="tv-profile-main text-center">
            <%= image_tag (  "53084621_2139928302709654_2474839033029591040_n.png")  ,class: "tv-profile-img"  %>
            <h2 class="tv-profile-name fs-16 mt-10">SUN</h2>
            <div class="text-center">
                <span class="color-999 mb-0 mr-20">Điểm: <strong class="text-danger"> 0</strong></span>
                <span class="color-999 mb-0">Điểm tặng: <strong class="text-danger">0</strong></span>
            </div>
        </div>
        <div class="tv-pro-nav-side-menu" style="">
            <div class="menu-list">
                <ul class="tv-pro-nav-menu list-unstyled text-left">
                    <li class="">

                        <a href="job-post.html">  <%= image_tag ("setting.png")  ,class: "icon-flat"  %> Quản lý chung </a>
                    </li>
                    <li class="">

                        <a href="https://timviec.com.vn/nha-tuyen-dung/tim-ung-vien-phu-hop" class="pr-0">
                           <%= image_tag (  "search.png")  ,class: "icon-flat"  %> Tìm ứng viên phù hợp
                            <span class="badge badge-danger position-relative" style="top: -8px; left: 0px;">HOT</span>
                        </a>
                    </li>


                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/dang-tin">
                            <%= image_tag ("upload.png")  ,class: "icon-flat"  %>
                             Đăng tin tuyển dụng</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/tat-ca-tin-tuyen-dung"> <%= image_tag ("forms.png")  ,class: "icon-flat"  %> Tất cả tuyển dụng</a>
                    </li>
                     <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/hr-ung-vien-tham-gia-phong-van" style="padding-left: 12px;"><i class="fal fa-users" style="margin-right: 6px;font-size: 18px;color: #666;"></i>Ứng viên</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/hr-vi-tri-phong-van"><%= image_tag ("work.png")  ,class: "icon-flat"  %>  Vị trí phỏng vấn</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/hr-lich-bieu-phong-van"><%= image_tag ("forms.png")  ,class: "icon-flat"  %>  Biểu lịch phỏng vấn</a>
                    </li>



                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-luu"><%= image_tag ("start.png")  ,class: "icon-flat"  %>  Hồ sơ đã lưu</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-ung-tuyen"><%= image_tag ("resume.png")  ,class: "icon-flat"  %>  Hồ sơ đã ứng tuyển</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/ho-so-da-xem"><%= image_tag ("check.png")  ,class: "icon-flat"  %>  Hồ sơ đã xem thông tin</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/quan-ly-dich-vu-va-dang-tin"><%= image_tag ("system.png")  ,class: "icon-flat"  %>  Quản lý dịch vụ</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/thong-bao-ho-so-phu-hop"><%= image_tag ("notification.png")  ,class: "icon-flat"  %>  Thông báo hồ sơ phù hợp</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/tin-nhan"><%= image_tag ("email.png")  ,class: "icon-flat"  %>  Tin nhắn</a>
                    </li>
                    <li class="active">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/cap-nhat-thong-tin-cong-ty"><<%= image_tag ("work.png")  ,class: "icon-flat"  %>  Thông tin công ty</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/danh-sach-chien-dich"><%= image_tag ("resume.png")  ,class: "icon-flat"  %>  Danh sách chiến dịch</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/quan-ly-email"><%= image_tag ("email.png")  ,class: "icon-flat"  %>  Mẫu Email phỏng vấn</a>
                    </li>
                    <li class="">
                        <a href="https://timviec.com.vn/nha-tuyen-dung/email-da-gui"><%= image_tag ("email.png")  ,class: "icon-flat"  %>  Email đã gửi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>





<div class="tv-company-edit-form">
    <form method="POST" action="https://timviec.com.vn/nha-tuyen-dung/cap-nhat-thong-tin-cong-ty" accept-charset="UTF-8" id="company-edit-form" enctype="multipart/form-data" novalidate="novalidate">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="bg-white box_shadow pd-20">
                    <div class="form-update-user">
                        <h3 class="fs-16 color-main text-uppercase">Thông tin tài khoản</h3>
                        <div class="form-group">
                            <label>Địa chỉ email: </label><br>
                            <input readonly="" class="form-control" type="text" value="son261197@gmail.com">
                            <div class="mt-10"></div>
                            <a href="https://timviec.com.vn/nha-tuyen-dung/doi-mat-khau" class="color-main"><i class="fas fa-key pr-5"></i>Cập nhật mật khẩu</a>
                        </div>
                    </div>
                </div>
                <div class="mt-20"></div>
                <div class="bg-white box_shadow pd-20">
                    <div class="form-update-user">
                        <h3 class="fs-16 color-main text-uppercase">Thông tin công ty</h3>
                        <div class="form-group">
                            <label>Tên công ty: <span class="required" aria-required="true">*</span></label><br>
                            <input type="text" name="name" class="form-control" placeholder="Tên công ty" maxlength="250" value="SUN">
                        </div>
                        <div class="form-group ">
                            <label class="g-font-weight-500">Địa chỉ công ty: <span class="required" aria-required="true">*</span></label><br>
                            <input type="text" name="address" class="form-control" placeholder="Địa chỉ công ty" maxlength="250" value="Hà Đông">
                        </div>
                        <div class="form-group ">
                            <label>Tỉnh/Thành phố: <span class="required" aria-required="true">*</span></label><br>
                            <select name="city_id" class="field-city-select select2-hidden-accessible" data-placeholder="Chọn thành phố" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                                                                            <option value="1581130" selected="" data-select2-id="3">Hà Nội</option>
                                                                            <option value="1566083">Hồ Chí Minh</option>
                                                                            <option value="1575627">An Giang</option>
                                                                            <option value="1562414">Bà Rịa - Vũng Tàu</option>
                                                                            <option value="1591527">Bắc Giang</option>
                                                                            <option value="1591538">Bắc Kạn</option>
                                                                            <option value="1591474">Bạc Liêu</option>
                                                                            <option value="1591449">Bắc Ninh</option>
                                                                            <option value="1587976">Bến Tre</option>
                                                                            <option value="1565022">Bình Dương</option>
                                                                            <option value="1568574">Bình Định</option>
                                                                            <option value="1580349">Bình Phước</option>
                                                                            <option value="1571058">Bình Thuận</option>
                                                                            <option value="1586443">Cà Mau</option>
                                                                            <option value="1586203">Cần Thơ</option>
                                                                            <option value="1586185">Cao Bằng</option>
                                                                            <option value="1583992">Đà Nẵng</option>
                                                                            <option value="1586896">Đắk Lắk</option>
                                                                            <option value="1581834">Đắk Nông</option>
                                                                            <option value="1583477">Điện Biên</option>
                                                                            <option value="1587923">Đồng Nai</option>
                                                                            <option value="1568212">Đồng Tháp</option>
                                                                            <option value="1569684">Gia Lai</option>
                                                                            <option value="1581349">Hà Giang</option>
                                                                            <option value="1570449">Hà Nam</option>
                                                                            <option value="1567621">Hà Tây</option>
                                                                            <option value="1581047">Hà Tĩnh</option>
                                                                            <option value="1581326">Hải Dương</option>
                                                                            <option value="1581298">Hải Phòng</option>
                                                                            <option value="1562538">Hậu Giang</option>
                                                                            <option value="1580830">Hòa Bình</option>
                                                                            <option value="1580142">Hưng Yên</option>
                                                                            <option value="1572151">Khánh Hòa</option>
                                                                            <option value="1568510">Kiên Giang</option>
                                                                            <option value="1578500">Kon Tum</option>
                                                                            <option value="8456741">Lai Châu</option>
                                                                            <option value="1584071">Lâm Đồng</option>
                                                                            <option value="1576633">Lạng Sơn</option>
                                                                            <option value="1568043">Lào Cai</option>
                                                                            <option value="1567069">Long An</option>
                                                                            <option value="1573517">Nam Định</option>
                                                                            <option value="1562798">Nghệ An</option>
                                                                            <option value="1571968">Ninh Bình</option>
                                                                            <option value="1571067">Ninh Thuận</option>
                                                                            <option value="1562820">Phú Thọ</option>
                                                                            <option value="1563281">Phú Yên</option>
                                                                            <option value="1582886">Quảng Bình</option>
                                                                            <option value="1580541">Quảng Nam</option>
                                                                            <option value="1568770">Quảng Ngãi</option>
                                                                            <option value="1574507">Quảng Ninh</option>
                                                                            <option value="1582926">Quảng Trị</option>
                                                                            <option value="1567788">Sóc Trăng</option>
                                                                            <option value="1567681">Sơn La</option>
                                                                            <option value="1566559">Tây Ninh</option>
                                                                            <option value="1566346">Thái Bình</option>
                                                                            <option value="1566319">Thái Nguyên</option>
                                                                            <option value="1566166">Thanh Hóa</option>
                                                                            <option value="1580240">Thừa Thiên Huế</option>
                                                                            <option value="1574023">Tiền Giang</option>
                                                                            <option value="1563926">Trà Vinh</option>
                                                                            <option value="1563287">Tuyên Quang</option>
                                                                            <option value="1562693">Vĩnh Long</option>
                                                                            <option value="1562548">Vĩnh Phúc</option>
                                                                            <option value="1560349">Yên Bái</option>
                                                                                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 131px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-city_id-de-container"><span class="select2-selection__rendered" id="select2-city_id-de-container" role="textbox" aria-readonly="true" title="Hà Nội">Hà Nội</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                        <div class="form-group ">
                            <label>Quy mô: <span class="required" aria-required="true">*</span></label><br>
                            <input type="text" name="quymo" class="form-control" placeholder="Quy mô công ty" maxlength="190" value="">
                        </div>
                        <div class="form-group ">
                            <label>Mô tả sơ lược: <span class="required" aria-required="true">*</span></label><br>
                            <textarea class="form-control form-textarea" placeholder="Mô tả chi tiết công ty" maxlength="5000" name="description" cols="50" rows="10"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Website: </label><br>
                                    <input type="text" name="website" class="form-control" placeholder="Địa chỉ trang web" maxlength="250" value="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>SĐT công ty: </label><br>
                                    <input type="text" name="phone" class="form-control" placeholder="Số điện thoại công ty" maxlength="20" value="0948285803">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-20"></div>
                <div class="bg-white box_shadow pd-20">
                    <div class="form-update-user">
                        <h3 class="fs-16 color-main text-uppercase">Thông tin người liên hệ</h3>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group ">
                                    <label>Người liên hệ: <span class="required" aria-required="true">*</span></label><br>
                                    <input type="text" name="lienhe" class="form-control" placeholder="Người liên hệ" maxlength="190" value="Đình Sơn">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group ">
                                    <label>SĐT liên hệ: <span class="required" aria-required="true">*</span></label><br>
                                    <input type="text" name="sdt_lienhe" class="form-control" placeholder="Số điện thoại liên hệ" maxlength="20" value="0948285803">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group "> <label>Chức vụ người liên hệ: </label><br>
                                    <input type="text" name="chucvu" class="form-control" placeholder="Chức vụ người liên hệ" maxlength="190" value="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group ">
                                    <label>Email người liên hệ: <span class="required" aria-required="true">*</span></label><br>
                                    <input type="text" name="email_lienhe" class="form-control" placeholder="Email người liên hệ" maxlength="190" value="son261197@gmail.com">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-20 mb-20">
                    <button type="button" class="btn bg-main color-white ph-30" id="btn-form-submit">Cập nhật</button>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="bg-white box_shadow pd-20">
                    <div class="timviec-display-block text-center">
                        <h3 class="tv-profile-name fs-15 mt-5 mb-5">Logo công ty</h3>
                        <div class="company-edit-logo">
                            <div id="avatar-upload-container"><div data-v-79139bd6=""><div data-v-79139bd6="" class="wimgS"><div data-v-79139bd6="" class="box-imgupload" style="position: relative;"><img data-v-79139bd6="" src="./Timviec.com.vn_files/logo_company_80x80.png" id="uv-profile-avatar"> <div data-v-79139bd6="" class="icon-pic"><i data-v-79139bd6="" class="fa fa-camera"></i></div><div data-v-79139bd6="" class="text">Chọn logo</div></div> <div data-v-79139bd6="" class="vue-image-crop-upload" style="display: none;"><div class="vicp-wrap"><div class="vicp-close"><i class="vicp-icon4"></i></div> <div class="vicp-step1"><div class="vicp-drop-area"><i class="vicp-icon1"><i class="vicp-icon1-arrow"></i> <i class="vicp-icon1-body"></i> <i class="vicp-icon1-bottom"></i></i> <span class="vicp-hint">Chọn tệp tin ảnh</span> <span class="vicp-no-supported-hint" style="display: none;">Trình duyệt không được hỗ trợ, vui lòng sử dụng IE10 + hoặc các trình duyệt khác</span> <input type="file" style="display: none;"></div> <div class="vicp-error" style="display: none;"><i class="vicp-icon2"></i>
            </div> <div class="vicp-operate"><a>Hủy</a></div></div> <!----> <!----> <canvas width="250" height="250" style="display: none;"></canvas></div></div></div></div></div>
                        </div>
                                                <hr>
                        <div class="company-edit-gpkd g-px-15">
                            <h3 class="fs-15 mt-40 mb-15">Giấy phép kinh doanh</h3>
                            <p id="file_name_gpkd"></p>
                                                        <a href="javascript:void(0)" class="btn bg-main color-white">
                                <i class="fas fa-upload pr-3"></i> Tải lên
                                <input type="file" name="gpkd" class="input_file_gpkd" onchange="getFileName(this);">
                            </a>
                            <p class="mt-5 fs-13 color-999">
                                <i>Quý công ty nên cập nhật giấy phép kinh doanh để ứng viên tin tưởng hơn</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bg-white box_shadow pd-20 mt-20">
                    <div class="text-center">
                        <div class="tv-avatar editing-info">
                            <h3 class="tv-profile-name fs-15 mt-5">Ảnh công ty</h3>
                                                                                            <div class="image-1 mt-10" style="position: relative;">
                                <div class="cover-image" id="cover-image-1" data-default="https://timviec.com.vn/default/images/image-cover-default.jpg" style="background-image: url(&#39;https://timviec.com.vn/default/images/image-cover-default.jpg&#39;)">
                                        </div>
                                <div class="edit-phto edit-photo-min">
                                    <label class="fileContainer" style="text-transform: inherit">
                                        Tải ảnh lên
                                        <input type="file" id="1" class="d-none input-cover-image" accept="image/*">
                                    </label>
                                </div>
                                                                    <input id="cover-hidden-1" name="g_cover[]" type="hidden" value="">
                                </div>
                                                                                            <div class="image-2 mt-10" style="position: relative;">
                                <div class="cover-image" id="cover-image-2" data-default="https://timviec.com.vn/default/images/image-cover-default.jpg" style="background-image: url(&#39;https://timviec.com.vn/default/images/image-cover-default.jpg&#39;)">
                                        </div>
                                <div class="edit-phto edit-photo-min">
                                    <label class="fileContainer" style="text-transform: inherit">
                                        Tải ảnh lên
                                        <input type="file" id="2" class="d-none input-cover-image" accept="image/*">
                                    </label>
                                </div>
                                                                    <input id="cover-hidden-2" name="g_cover[]" type="hidden" value="">
                                </div>
                                                                                            <div class="image-3 mt-10" style="position: relative;">
                                <div class="cover-image" id="cover-image-3" data-default="https://timviec.com.vn/default/images/image-cover-default.jpg" style="background-image: url(&#39;https://timviec.com.vn/default/images/image-cover-default.jpg&#39;)">
                                        </div>
                                <div class="edit-phto edit-photo-min">
                                    <label class="fileContainer" style="text-transform: inherit">
                                        Tải ảnh lên
                                        <input type="file" id="3" class="d-none input-cover-image" accept="image/*">
                                    </label>
                                </div>
                                                                    <input id="cover-hidden-3" name="g_cover[]" type="hidden" value="">
                                </div>
                                                        <p class="fs-13 color-999 mt-10">Dung lượng file tối đa 1MB<br>
                                Định dạng: .JPEG, .PNG</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="_token" value="pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3">
    </form>
</div>

<div id="uploadCoverImageModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="id-show-image-upload" name="show_image_upload" value="">
                    <div class="col-md-12 text-center">
                        <div id="cover_image_demo" style="width:100%;" class="croppie-container"><div class="cr-boundary" aria-dropeffect="none" style="width: 100%; height: 250px;"><img class="cr-image" alt="preview" aria-grabbed="false"><div class="cr-viewport cr-vp-square" tabindex="0" style="width: 345px; height: 195px;"></div><div class="cr-overlay"></div></div><div class="cr-slider-wrap"><input class="cr-slider" type="range" step="0.0001" aria-label="zoom"></div></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-save btn-save-avatar crop_cover_image"><span>Tải lên</span><i class="fas fa-spinner fa-spin d-none"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

                    </div>
                </div>
            </div>
                <!-- End content -->
        </div>
    </div>

    <div class="scroll-to-top" style="opacity: 0;"><i class="fas fa-chevron-up"></i></div>


<!-- script -->

<script src="./Timviec.com.vn_files/jquery.min.js"></script>
<script src="./Timviec.com.vn_files/jquery-ui.min.js"></script>
<script src="./Timviec.com.vn_files/moment.min.js"></script>
<script src="./Timviec.com.vn_files/popper.min.js"></script>
<script src="./Timviec.com.vn_files/bootstrap.min.js"></script>
<script src="./Timviec.com.vn_files/jquery.scrollbar.min.js"></script>
<script src="./Timviec.com.vn_files/select2.min.js"></script>
<script src="./Timviec.com.vn_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./Timviec.com.vn_files/datepicker.js"></script>
<script src="./Timviec.com.vn_files/jquery.sticky-kit.min.js"></script>
<script src="./Timviec.com.vn_files/main.js"></script>
<!-- Toastr -->
<script src="./Timviec.com.vn_files/toastr.min.js"></script>
<script src="./Timviec.com.vn_files/sweetalert2@9"></script>


<script>
function getTotalNotification() {
    $.ajax({
        method: 'GET',
        headers: {
            'X-CSRF-TOKEN': 'pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3'
        },
        url: 'https://timviec.com.vn/ajax/notification',
    }).done(function(response) {
        if(response.data) {
            if(response.data.total) {
                $('#total-message').text(response.data.total).show();
            }
            $('#list-content-message-menu').html(response.data.list);
        }
    });
}
function profileRefresh() {
    $.ajax({
        url: 'https://timviec.com.vn/ajax/profile/refresh',
        type: 'get',
        success: function(data) {
            console.log(data)
        }
    });
}

$(function() {
    setTimeout(getTotalNotification(), 1000);
//    setInterval(profileRefresh(), 12000000)
});
</script>

<script>
//      $(document).ready(function() {
//          $('[data-toggle="tooltip"]').tooltip();
//      });

      $.fn.button = function(action) {
          if(action === 'loading' && this.data('loading-text')) {
              this.data('original-text', this.html()).html(this.data('loading-text')).prop('disabled', true);
          }
          if(action === 'reset' && this.data('original-text')) {
              this.html(this.data('original-text')).prop('disabled', false);
          }
      };

      $('input').dblclick(function() {
          $(this).select();
      });

      var timeoutSearch;
      $("#gridForm.autoload .change_grid:not('.date')").on('keyup', function() {
          timeoutSearch && clearTimeout(timeoutSearch);
          timeoutSearch = setTimeout(() => {
              $('#gridForm').submit();
          }, 500)
      });

      $('#gridForm.autoload select.change_grid').on('change', function() {
          $('#gridForm').submit();
      });

      $('#gridForm.autoload input.check[type=checkbox]').on('ifChanged', function() {
          $('#gridForm').submit();
      });

      $('#gridForm.autoload input.change_grid.date').on('dp.hide', function() {
          $('#gridForm').submit();
      });

      function inputIfy(containter) {
          $(containter + ' input[type=number]').click(function() {
              if($(this).val() == 0) {
                  $(this).val('');
              }
          }).blur(function() {
              if($(this).val() == '') {
                  $(this).val(0);
              } else {
                  $(this).val(parseFloat($(this).val()));
              }
          });
      }

      $("#gridForm.autoload").submit(function(e, page) {
          if(page == undefined)
              page = 1;
          $('input[name=page]').val(page);
          let url_current = "https://timviec.com.vn/nha-tuyen-dung/cap-nhat-thong-tin-cong-ty?" + $('input[name!=_token],select', this).serialize();
          window.history.pushState("", "", url_current);

          $('#gridTable').append('<div id="loading"></div>');
          $.post($(this).attr('action'), $(this).serialize()).done(function(data, status) {
              if(status == 'success') {
                  $('#gridTable').html(data);
                  $('#no-data').attr('colspan', $('table tr th').length).html(`<div class="text-center">
    <p class="fs-16"><b style="color: #000">Không có dữ liệu phù hợp ...</b></p>
</div>
`);
                  inputIfy('#gridTable');
              }
          })
           .fail(function() {
               alert("Có lỗi xảy ra, vui lòng kiểm tra lại");
           });
          return false;

      }).trigger("submit", [1]);

      function swalShowErrorAjax(request, title = 'Có lỗi xảy ra!') {
          console.log(request);
          if(request.status == 422) {
              if(request.responseJSON.errors) {
                  let loi = [];
                  Object.keys(request.responseJSON.errors).forEach(key => {
                      loi.push(request.responseJSON.errors[key][0] + "<br/>");
                  });
                  toastr.warning(loi);
              }
          } else {
              Swal.fire({
                  icon: 'error',
                  title: request.responseJSON.title || title,
                  text: request.responseJSON.message || 'Có lỗi xảy ra!',
              })
          }
      }

      function getSearchCr(token = true) {
          let str = location.search.substr(1) + '&_token=pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3';
          if(!token) {
              str = location.search.substr(1);
          }
          return str;
      }

            $(".btn-candidate-show-modal").click(function(){
        localStorage.setItem('modalShowCandidate', 'true');
    });
        </script>
<script type="text/javascript">
    $(document).ready(function () {
        var isCheck = '';
        var checkRegister = '';
        var checkApply = '';
        if (isCheck) {
            if (typeof(Storage) !== 'undefined') {
                if (isCheck == 'update_info')
                    localStorage.setItem('user_check_from_email', '');
                else if(isCheck == 'post_job')
                    localStorage.setItem('user_email_marketing_post_job_first', '');
                else if(isCheck == 'apply' && checkApply) {
                    localStorage.setItem('utm_check_apply', '{"utm_source":null,"utm_campaign":null,"utm_medium":null}');
                }
                else if(isCheck && checkRegister) {
                    localStorage.setItem('utm_checking', '{"utm_source":null,"utm_campaign":null,"utm_medium":null}');

                }
            }
        }
    });
</script>

    <!-- stack scripts -->
<!-- ./stack scripts -->
<!-- ./stack js -->
<script type="text/javascript" src="./Timviec.com.vn_files/upload-logo.js"></script>
<script type="text/javascript" src="./Timviec.com.vn_files/jquery.validate.min.js"></script>
<script src="./Timviec.com.vn_files/croppie.min.js"></script>
<script type="text/javascript">
    var formSubmitted = false;

    $(".field-city-select").select2();

    $(document).ready(function () {
        $('#btn-form-submit').click(function () {
            $('#company-edit-form').submit();
        });

        $.validator.setDefaults({ ignore: ":hidden:not(select.js-custom-select)" });

        $.validator.addMethod("tv_check_email", function(email, element) {
            return /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email);
        }, 'Error');

        $.validator.addMethod("tv_check_phone", function(phone_number, element) {
            return /^([0-9]){10,11}$/.test(phone_number);
        }, 'Error');

        $('#company-edit-form').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    maxlength: 200,
                },
                address: {
                    required: true,
                    minlength: 2,
                    maxlength: 200,
                },
                city_id: {
                    required: true,
                },
                quymo: {
                    required: true,
                },
                description: {
                    required: true,
                    minlength: 5,
                },
                phone: {
                    tv_check_phone: true,
                },
                lienhe: {
                    required: true,
                },
                sdt_lienhe: {
                    required: true,
                    tv_check_phone: true,
                },
                email_lienhe: {
                    required: true,
                    tv_check_email: true,
                },
            },
            messages: {
                name: {
                    required: 'Vui lòng nhập Tên công ty',
                    minlength: 'Vui lòng nhập ít nhất 2 ký tự',
                    maxlength: 'Bạn chỉ được nhập tối đa 200 ký tự',
                },
                address: {
                    required: 'Vui lòng nhập Địa chỉ công ty',
                    minlength: 'Vui lòng nhập ít nhất 2 ký tự',
                    maxlength: 'Bạn chỉ được nhập tối đa 200 ký tự',
                },
                city_id: {
                    required: 'Vui lòng chọn Tỉnh/Thành phố',
                },
                quymo: {
                    required: 'Vui lòng nhập Quy mô công ty',
                },
                description: {
                    required: 'Vui lòng nhập Mô tả sơ lược',
                    minlength: 'Vui lòng nhập ít nhất 5 ký tự',
                },
                phone: {
                    tv_check_phone: 'Số điện thoại không hợp lệ',
                },
                lienhe: {
                    required: 'Vui lòng nhập Người liên hệ',
                },
                sdt_lienhe: {
                    required: 'Vui lòng nhập SĐT liên hệ',
                    tv_check_phone: 'Số điện thoại không hợp lệ',
                },
                email_lienhe: {
                    required: 'Vui lòng nhập Email người liên hệ',
                    tv_check_email: 'Vui lòng nhập đúng định dạng email',
                },
            },
            unhighlight: function(element) {
                $(element).parent().removeClass("field-error");
            },
            errorPlacement: function (error, element) {
                if (element.is('select.js-custom-select')) {
                    element.parent().addClass('field-error');
                    // placement for chosen
                    element.parent().append(error);
                } else {
                    // standard placement
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                if (!formSubmitted) {
                    formSubmitted = true;
                    form.submit();

                    if (localStorage.getItem('user_check_from_email') == 'email-employer-not-update-info') {
                        ga('send', 'event', 'button', 'clickUpdateInfoCompany', 'updateInfoCompanyFromEmail', 1, {
                            userId: '224843'
                        });
                        localStorage.removeItem('user_check_from_email');
                        console.log('Pushed');
                    }
                }
            },
        });

        var $cover_image_crop = $('#cover_image_demo').croppie({
            enableExif: true,
            viewport: {
                width: 345,
                height: 195,
                type: 'square'
            },
            boundary: {
                width: "100%",
                height: 250
            }
        });

        $('.input-cover-image').unbind().on('change', function (e) {
            e.preventDefault();
            var checkFile = $(this).val(),
                inputId = this.id,
                file = $(this);

            if (checkFile) {
                var fileName = checkFile.replace(/C:\\fakepath\\/i, '');
                var extension = fileName.substr((fileName.lastIndexOf('.') + 1));
                switch (extension) {
                    case 'jpg':
                    case 'png':
                    case 'jpeg':
                        break;
                    default:
                        alert('Định dạng file phải là .jpg,.png, .jpeg');
                        return false;
                        break;
                }
                var fileSize = e.originalEvent.target.files[0].size;

                if (fileSize > 2145728) {
                    alert('File không được quá dung lượng 2MB cho phép');
                    return false;
                }
            }

            var reader = new FileReader();
            reader.onload = function (event) {
                $cover_image_crop.croppie('bind', {
                    url: event.target.result
                }).then(function () {
                });
            };
            reader.readAsDataURL(this.files[0]);
            $('#id-show-image-upload').val(inputId);
            $('#uploadCoverImageModal').modal('show');
        });

        $('.crop_cover_image').click(function (event) {
            $cover_image_crop.croppie('result', {
                type: 'canvas',
                size: {width: 345, height: 195},
                format: 'jpeg',
                //size: 'viewport',
                circle: false
            }).then(function (response) {
                $.ajax({
                    url: "https://timviec.com.vn/ajax/ajax-upload-cover-company",
                    type: "POST",
                    method: "POST",
                    data: {
                        "cover_image": response,
                        "input_id": $('#id-show-image-upload').val(),
                        "_token": "pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3"
                    },
                    beforeSend:function() {
                        $('#uploadCoverImageModal .crop_cover_image').prop('disabled', true).html('<span>Đang tải lên</span>');
                    },
                    success: function (data) {
                        if(data.path) {
                            $('#cover-image-'+data.input_id).css('background-image',"url('" + data.path_full + "')");
                            $('#cover-image-'+data.input_id).removeClass('no-cover');
                            $('#cover-hidden-'+data.input_id).val(data.path);
                        }

                        $('#uploadCoverImageModal .crop_cover_image').prop('disabled', false).html('<span>Tải lên</span>');
                        $('#uploadCoverImageModal').modal('hide');
                    },
                    complete: function() {
                        $('#uploadCoverImageModal .crop_cover_image').prop('disabled', false).html('<span>Tải lên</span>');
                    }
                });
            })
        });

        $(".modal").not('#uploadCoverImageModal').on("hidden.bs.modal", function () {
            $(this)
                .find("input,textarea").val('').end()
                .find('select').val('')
                .find("input[type=checkbox], input[type=radio]").prop("checked", '').end();
        });

    });

    function getFileName(input) {
        if (input.files && input.files[0]) {
            $("#file_name_gpkd").text(input.files[0].name)
        }
    }
    $(".remove-photo").click(function () {
        var id = $(this).data("id");
        Swal.fire({
            html: "Bạn có chắc muốn xóa ảnh này không",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xác nhận'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: 'https://timviec.com.vn/ajax/ajax-delete-cover-company/' + id,
                    data: {"_token": "pXJzJlJ9J6NIWe1mFM37NQG37Jy7wnb9oSaVs4I3"},
                    success: function (data) {
                        if (data.status == true) {
                            Swal.fire({
                                title : 'Xóa ảnh thành công!',
                                type : 'success'
                            }).then((result) => {
                                location.reload();
                            });
                        }
                    },
                    error: function () {
                        alert('Có lỗi xảy ra vui lòng thử lại.')
                    }
                });
            }
        })
    });
</script>

<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $('#flash-overlay-modal').modal();

</script>


<!-- ./js -->

<!-- ./script -->
</body></html>
