<li id="portfolio-<%= portfolio.id %>">
  <%= image_tag portfolio.image if portfolio.image.attached? %>
  <span><%= portfolio.title %></span><br>
  <span><%= portfolio.link %></span><br>
  <span><%= portfolio.month %>-<%= portfolio.year %></span><br>
  <span><%= portfolio.description %></span><br>
    <%= link_to t("pf.edit"), edit_portfolio_path(portfolio), class: "edit-portfolio", "data-id": portfolio.id %>
    <%= link_to t("pf.delete"), portfolio, method: :delete,
    data: { confirm: "You sure?" }, remote: true, class: "delete-portfolio" %><br>
</li>
