<%= form_for @portfolio do |f| %>
      <span class="image">
        <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", direct_upload: true %>
      </span>
      <div class='form-group'>
  	    <%= f.label 'Title' %>
  	    <%= f.text_field :title, placeholder: '', class: 'form-control' %>
      </div>
      <div class='form-group'>
  	    <%= f.label 'Link' %>
  	    <%= f.text_field :link, placeholder: '', class: 'form-control' %>
      </div>
      <div class='form-group'>
  	    <%= f.label 'Description' %>
  	    <%= f.text_area :description, placeholder: '', class: 'form-control' %>
      </div>
      <div class='form-group'>
  	    <%= f.label 'Made in' %>
  	    <%= f.select :year, (Time.zone.now.year - 30)..(Time.zone.now.year + 1) %>
        <%= f.select :month, 1..12 %>
      </div>
      <%= f.submit 'Update', class: "btn btn-primary" %>
<% end %>
