<main>
	<div class="container">

    <div class="fixed-bottom postision row">
      <div class="postision1">
        <div class="col-1">
          <a href="#">
            <%= image_tag('2.jpg',class: "rounded-circle", style: "width: 70px; height: 70px")%>
          </a>
        </div>
        <div class="ml-5 col-7">
          <h4><strong>Developer Ruby on Rails and Reactjs Database MySQL, Postgree</strong></h4>
           <h5 class="text-secondary company">Sun* Academy</h5>
        </div>
        <div class="inline-block">
        </div>
          <div class="text-center rounded col-2">
            <a href="#">
              <div class="border p-3">
                <i class="fa fa-bookmark-o fa-lg" aria-hidden="true">Bookmark</i>
            </div>
            </a>
          </div>
        <div class="ml-5 col-2">
          <a class="btn btn-primary btn-lg" href="#" role="button">Want to Visit</a>
        </div>
      </div>
    </div>

    <div class="header1">
		  <div class="addressCareer">
  			<div class="carreer">Mid-career</div>
  			<div>Address</div>
  			<div class="col-md-offset-1 col-md-10 d-flex justify-content-end">
  				Date time | 277 view
  			</div>
      </div>
		</div>
		<div class="mt-2">
			<h2><strong>Developer Ruby on Rails and Reactjs Database MySQL, Postgree</strong></h2>
		</div>
		<div>
			<p class="card-text">
				<h3>
          	 <%= image_tag('2.jpg',class: "rounded-circle", style: "width: 40px; height: 40px")%>
          	<small class="text-muted">Sun* Academy</small>
    		</h3>
        	</p>
		</div>
		<!-- image -->
		<div class="image1">
			<%= image_tag('2.jpg', class: 'w-100 h-100')%>
		</div>
		<!-- Application -->
		<div>
			<div></div>
			<div>
				
			</div>

			<div class="d-flex justify-content-start mt-3 addressCareer">
				<div class="addressCareer">
					<div class="mr_3">
						<i class="fa fa-map-marker fa-lg" aria-hidden="true">Map</i>
					</div>
					<div class="mr_3">
						<i class="fa fa-briefcase fa-lg" aria-hidden="true">Experienced</i>
					</div>
					<div >
						<i class="fa fa-graduation-cap fa-lg" aria-hidden="true">Entry level</i>
					</div>
				</div>
        <div class="mr_500">
				  <a class="btn btn-primary btn-lg pr-5 pl-5" href="#" role="button">Want to Visit</a>
        </div>
			</div>
		</div>
		<!--  -->
    <div class="mt_8">
  		<div class="row">
  			<div class="col-8">
          <div>
            <div class="addressCareer">
              <h2 class="mr_3">People members</h2>
              <div>
                <a href="#" class="badge badge-secondary">View more</a>
              </div>
            </div>

            <div>
              <div class="d-inline ">
              <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 130px; height: 130px")%><br>
                  <h4>Doan</h4>
                  <span class="text-secondary">Recruitment Specialist</span>
              </div>
            </div>
              <hr>
            <div>
              
            
              <h2>What we do</h2>
              <div class="mt_mb_50">
                <%= image_tag('2.jpg', style: "width: 300px; height: 200px")%>
                <%= image_tag('2.jpg', style: "width: 300px; height: 200px")%>
              </div>
              <p style="font-size: 15px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sirius Marketing officially opened its doors in 2009. With the initial start-up involving just one campaign, we have evolved successfully by taking on campaigns in multiple industries regionally, ranging from profit organisations to non- profit organisations.

              We specialize in the brainstorming of direct sales and marketing methods to successfully create more brand awareness, increase market share, & provide great customer service for the brands. By doing so, we have increased sales revenue tremendously and continue to do so for all the brands that we represent. Our proven track record speaks volumes as more brands choose to engage us!
              </p>
            </div>

             <div>
              
            
              <h2>Why we do</h2>
              <div class="mt_mb_50">
                <%= image_tag('2.jpg', style: "width: 300px; height: 200px")%>
                <%= image_tag('2.jpg', style: "width: 300px; height: 200px")%>
              </div>
              <p class="font_size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sirius Marketing officially opened its doors in 2009. With the initial start-up involving just one campaign, we have evolved successfully by taking on campaigns in multiple industries regionally, ranging from profit organisations to non- profit organisations.
              </p>
            </div>

            <div>
              
            
              <h2>How we do</h2>
              <div class="mt_mb_50">
                <%= image_tag('2.jpg', style: "width: 300px; height: 200px")%>
                <%= image_tag('2.jpg', style: "width: 300px; height: 200px")%>
              </div>
              <p class="font_size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sirius Marketing officially opened its doors in 2009. With the initial start-up involving just one campaign, we have evolved successfully by taking on campaigns in multiple industries regionally, ranging from profit organisations to non- profit organisations.
              </p>
            </div>

            
            <div>
              <h2>Highlighted stories</h2>
              <div class="addressCareer wt_15">
                <div class="mr_20">
                  <%= image_tag('2.jpg', style: "width: 200px; height: 123px")%><br>
                  <a href="#">Wave alpha</a>
                </div>
                <div>
                  <%= image_tag('2.jpg', style: "width: 200px; height: 123px")%><br>
                  <a href="#">Wave alpha</a>
                </div>
              </div>
                <hr>
            </div>
            </div>
          </div>   
          <!--  -->
          <div class="col-4">
            <div>
              <h5><strong>1723 requested to visit</strong></h5>
              <span class="text-secondary">
                Other users cannot see whether or not you're interested.
              </span>
                <a href="#" class="">
                  <div class="text-center mt-5 mb-5 border p-2 rounded">
                      <i class="fa fa-bookmark-o fa-lg" aria-hidden="true">Bookmark</i>
                  </div><hr>
                </a>
            </div>

            <div>
              <h5><strong>3 recommendations</strong></h5>
                <a href="#" class="">
                  <div class="text-center mt-5 mb-2 border p-2 rounded">
                      Recommend
                  </div>
                </a>
                  <div class="mb-5">
                    <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 40px; height: 40px")%>
                    <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 40px; height: 40px")%>
                    <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 40px; height: 40px")%>
                  <hr>
                  </div>
                  <div>
                    <h5><strong>Company info</strong></h5>
                    <div class="mt-2 d-inline">
                      <i class="fa fa-link" aria-hidden="true"></i>
                      <a href="https://sun-asterisk.vn/">https://sun-asterisk.vn/</a>
                    </div><br>
                    <div class="mt-2 d-inline">
                      <i class="fa fa-flag" aria-hidden="true"></i>
                      <span class="text-secondary">
                        Founded on 2016/07
                      </span>
                    </div><br>
                    <div class="mt-2 d-inline">
                      <i class="fa fa-users" aria-hidden="true"></i>
                      <span class="text-secondary">
                        45 members
                      </span>
                    </div><br>
                    <div class="mt-2 d-inline">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span class="text-secondary">
                        11F Handico Building, Pham Hung Road, Nam Tu Liem Dist., Ha Noi
                      </span>
                    </div>
                    <div class="w_280">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.401171435136!2d105.77973585011165!3d21.01662828593624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454aad14949b5%3A0x50fde6fabfba0a79!2zSGFuZGljbyBUb3dlciwgUGjhuqFtIEjDuW5nLCBN4buFIFRyw6wsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1595844150458!5m2!1svi!2s" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                  </div>
              </div>

          </div>
        </div>
  		</div>
  </div>

  <div class="jobs_related">
    <div class="container">
      <div class="pt-3">
        <h2>Job posting you may like</h2>
      </div>
      <div class="text-center addressCareer">

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

      </div>
    


     <div class="mt-5">
        <h2>Recently viewed job postings</h2>
      </div>

      <div class="text-center addressCareer">

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

        <div class="mt-5 text-center wh">
           <div>
             <%= image_tag('2.jpg', style: "width: 223px; height: 100px")%>
           </div>
           <div class="h4 mt-3">
              <a href="#">Developer javascript,CSS,HTML</a>
           </div>
           <div class="mt-3 addressCareer">
            <%= image_tag('2.jpg', class: "rounded-circle", style: "width: 30px; height: 30px")%>
            <h6 class="text-secondary ml-3">Recruitment Specialist</h6>
           </div>
        </div>

       </div>
      </div>
    </div>
  </div>
</main>
