<button class="setting-and-edit" onclick="openForm2()">
  <%="To edit"%>
</button>
<div class="CvSkillForm" id="CvSkillForm">
  <div class="form-skill">
    <%= form_for(CvSkill.new)  do |f| %>
      <div class="select-Skill">
        <%= f.select :skill_id, options_from_collection_for_select(Skill.all, "id", "name") %>
      </div>
      <div class="submit-skill">
        <button class="btn btn-outline-secondary" type="button" onclick="closeForm2()">
          <%=  t("global.cancel") %>
        </button>
        <%= f.submit t("global.up"), class: "hello btn btn-up"%>
      </div>
    <%end%><br>
  </div>
</div>
<div class="listUserSkill">
  <ul id="submitter1">
    <% current_user.cv.cv_skills.each do |cv_skill| %>
      <div class="deleteButton">
        <li><span class='form-control' id="submitter-skill"><%= cv_skill.skill.name %></span>
          <div class="skillDelete">
            <%= link_to t("global..delete"), cv_skill, remote: true, method: :delete,
            data: { confirm: t("global..yousure") },class: 'btn btn-outline-secondary destroy' %>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  function openForm2() {
    $("#CvSkillForm").show();
  }

  function closeForm2() {
    $("#CvSkillForm").hide();
  }

  $(document).ready(function() {
    $(".form-skill form").on('submit',function(event) {
      event.preventDefault();
      var formHTML = event.target;
      $.ajax({
        url: formHTML.action,
        method: 'POST',
        data: $(this).serialize(),
        success: function(data){
          $('#cv_skill').html(data);
        }
      });
    });
  });
</script>
