<div class="modal" id="myModal">
  <%= form_for @user do |f| %>
    <div class="modal-dialog">
      <%= f.hidden_field :fullname %>
      <div class="modal-content">
        <div class="modal-header-user">
          <% if @user.image.attached? %>
            <%= image_tag @user.image %>
          <% else %>
            <%= image_tag('no-image.jpg') %>
          <% end %>
        </div>
        <div class="modal-body">
          <div class="choose_user_image">
            <%= f.label t('userp.user_image') %><br>
            <%= f.file_field :image, id:"user_img_avatar" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><%= "Cancel" %></button>
          <%= f.submit t("cv.submit"), class: "hello btn btn-up"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="change_photo">
  <a href="#" class="" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-camera" aria-hidden="true"></i>
    <%= t("userp.change_user_photo") %></a>
</div>


<script type="text/javascript">
  $('.user_img_avatar').on('click',function(event){
    if ($('#user_img_avatar').get(0).files.length === 0) {
      event.preventDefault();
      alert('Please Choose File');
    }
  });
</script>
