<div class="blurred-image-overlay">
  <%= image_tag @profile.image if @profile.image.attached? %>
</div>
<div class="profile-header-wrapper">
  <div class="profile-header-cover-inner">
    <%= image_tag @profile.image if @profile.image.attached? %>
  </div>
</div>

<div class="two-column col-md-12">
  <div class="profile-header">
    <a class="ui-show-modal profile-photo-wrapper">
      <div class="profile-photo">
        <font class="profile-photo-size">
          <% if @user.image.attached? %>
            <%= image_tag @user.image %>
          <% else %>
            <%= image_tag('no-image.jpg') %>
          <% end %>
        </font>
      </div>
      <div class="edit-photo">
        <font>

        </font>
      </div>
    </a>
    <header class="user-name-tags">
      <div class=" name-and-tagline">
        <div class=" edit_cover_photo">

        </div>
          <div class="user_name col-md-12">
          <div class="col-md-5">
            <%= link_to @user.fullname, profile_path(@user) %>
          </div>
          <div class=" follow_user_button col-md-1">
            <%= render "users/follow_user_form"%>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
