<tr>
  <td id="follow_user_avatar">
    <%= link_to profile_path(user.id), :action => 'go' do %>
      <% if user.image.attached? %>
        <%= image_tag(user.image) %>
      <% else %>
          <%= image_tag('no-image.jpg') %>
      <% end %>
    <% end %>
  </td>
  <td ><h5><%= link_to user.fullname, profile_path(user.id) %></h5></td>
  <td ><h5><%= user.email %></h5></td>
</tr>
