<div class="container">
  <%= render 'employer/companies/navbar'%>
  <div class="employer_job_show col-md-10">
      <h2><strong><%= @job.title %></strong></h2>
      <div class="company_img_name">
          <h4>
            <% if @job.user.company.images.attached? %>
              <%=  image_tag @job.user.company.images.first,class: "rounded-circle", style: "width: 80px; height: 60px" %>
            <% else %>
              <%= image_tag('no-image.jpg',class: "rounded-circle", style: "width: 80px; height: 60px")%>
            <% end %>
            <small class="text-muted"><%= @job.user.company.full_name %></small>
          </h4>

      </div>
      <div class="container row">
        <div class="job_inner">
          <div class="emloyer_job_img  col-md-6">
            <% if @job.images.attached? %>
              <%=  image_tag @job.images %>
            <% else %>
              <%= image_tag('no-image.jpg')%>
            <% end %>
          </div>
          <div class="employment_info row col-md-6">
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa-briefcase fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_title col-md-10">
                <%=t("job.job_position")%> : <%= @job.title %>
              </b>
            </div>
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa-graduation-cap fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_exp col-md-10">
                <%=t("job.job_exp")%> : <%= @job.exp %> <%=t("job.job_year")%>
              </b>
            </div>
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa-usd fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_salary col-md-10">
                <%=t("job.job_salary")%> :<%= @job.salary %>
              </b>
            </div>
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa fa-venus-mars fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_salary col-md-10">
                <%= t("employers.jobs.index.gender") %> :<%= @job.sex_i18n %>
              </b>
            </div>
          </div>
        </div>
      </div>
      <div class="job_infomation col-md-12">
        <%= @job.what.html_safe %>
      </div>
      <div class="job_infomation col-md-12">
        <%= @job.why.html_safe %>
      </div>
      <div class="job_infomation col-md-12">
        <%= @job.how.html_safe %>
      </div>

      <div class="applied_users col-md-12">
         <h3 id="applied_users_list"><%= t("job.applier_list") %></h3>
        <%= render 'employer/applyjobs/index'%>
      </div>
  </div>
</div>
