<div class="container">
  <%= render 'employer/companies/navbar'%>
  <div class="employer_job_show col-md-10">
      <h2><strong><%= @job.title %></strong></h2>
      <div class="company_img_name">
          <h4>
             <%= image_tag('3.webp',class: "rounded-circle", style: "width: 80px; height: 60px")%>
            <small class="text-muted"><%= @job.user.company.full_name %></small>
          </h4>

      </div>
      <div class="container row">
        <div class="job_inner">
          <div class="emloyer_job_img  col-md-6">
            <%= link_to image_tag('3.webp'), "#" %>
          </div>
          <div class="employment_info row col-md-6">
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa-briefcase fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_title col-md-10">
                <%=t("job.job_position")%> : <%= @job.title %>
              </b>
            </div>
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa-graduation-cap fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_exp col-md-10">
                <%=t("job.job_exp")%> : <%= @job.exp %> <%=t("job.job_year")%>
              </b>
            </div>
            <div class="job_title_exp_salary col-md-12">
              <i class="fa fa-usd fa-lg col-md-1" aria-hidden="true"></i>
              <b id="Job_salary col-md-10">
                <%=t("job.job_salary")%> :<%= @job.salary %>
              </b>
            </div>
          </div>
        </div>
      </div>
      <div class="job_infomation col-md-12">
        <%= @job.what %>
      </div>
      <div class="job_infomation col-md-12">
        <%= @job.why %>
      </div>
      <div class="job_infomation col-md-12">
        <%= @job.how %>
      </div>

      <div class="applied_users col-md-12">
         <h3 id="applied_users_list">Danh sách người ứng tuyển</h3>
        <%= render 'employers/applyjobs/indexs'%>
      </div>
  </div>
</div>
