<div class="container">
    <div class="col-md-4 bg-info">
        <h5>
            <ul class="nav">
                <li class="nav-item active">
                    <%= link_to  t("employers.companies.index.listJobs"), employers_jobs_path, class: "nav-link"%>
                </li>
                <li>
                    <%= link_to t("employers.companies.index.newJob"), new_employers_job_path,"data-turbolinks": false, class: "nav-link"%>
                </li>
                <li>
                    <% if current_user.company.nil? %>
                    <%= link_to "New Company", new_employers_company_path,"data-turbolinks": false, class: "nav-link"%>
                    <% else %>
                    <%= link_to " My Company", employers_company_path(current_user.company.id) %>
                    <% end %>
                </li>
            </ul>
        </h5>
    </div>
    <div class="company_form_info col-md-7">
        <h3>New company</h3><br>
        <%= form_for [:employers , @company ] do |f| %>
        <div class="form-group">
            <li class="fa fa-user-circle" aria-hidden="true">
                <%= t("cp.full_name") %> :</li>
            <%= f.text_field :full_name ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-envelope-o" aria-hidden="true"> Email :</li>
            <%= f.text_field :email ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-link" aria-hidden="true">
                <%= t("cp.link") %> :</li>
            <%= f.text_field :link ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-phone" aria-hidden="true">
                <%= t("cp.phone") %> :</li>
            <%= f.number_field :phone ,placeholder: "" , class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-plus-circle" aria-hidden="true">
                <%= t("cp.total") %> :</li>
            <%= f.number_field :total ,placeholder: "", class: 'form-control'  %>
        </div>
        <div class="form-group">
            <li class="fa fa-map-marker" aria-hidden="true">
                <%= t("cp.address") %> :</li>
            <%= f.text_field :address  ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-circle" aria-hidden="true">
                <%= t("cp.descr") %> :</li>
            <%= f.text_area :descr  ,placeholder: "", class: 'form-control' %>
        </div>
        <span class="image">
            <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </span>
        <div class="submit-education">
            <div class="submit">
                <%= f.submit t("cp.submit"), class: "btn btn-primary"%>
            </div>
        </div>
        <% end %>
    </div>
</div>
