

<%= link_to 'Edit', edit_employers_company_path(@company), class: "btn btn-primary" %>
<div class="container">
    <%= image_tag('1.jpg', style: "width: 100%; height:500px")%>
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4"><%= @company.full_name %></h1>
        <p class="lead">
          <%= time_ago_in_words(@company.created_at) %>
          ago
        </p>
        <hr>
        <p class="lead">
            <% if @company.descr %>
                <%= @company.descr %>
            <% end %>
        </p>
        <hr>
      </div>
      <div class="col-md-4" style="margin-top: 30px">
        <div class="card my-4 margin-xl">
          <h3 class="card-header"><i class="fa fa-building fa-lg" aria-hidden="true"></i><%= t("global.job.company") %></h3>
                <div class="margin-xl">
                <ul class="margin-xl">
                  <li>
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <%= @company.address%>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                    <% if @company.email %>
                        <%= @company.email %>
                    <% end %>
                  </li>
                  <li>
                    <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                    <%= @company.phone %>
                  </li>
                  <li>
                    <i class="fa fa-users fa-lg" aria-hidden="true"> </i>
                    <%= @company.total   %> <%= t("cp.member") %>
                  </li>
                </ul>
            </div>

        </div>
        <div id="map" style="display: block;width: 360px; height: 300px;"></div>
      </div>
    </div>
  </div>


<script>
$(document).ready(function() {
    initMap(21.0266484, 105.7704319, 14);
});

function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
        center: myCoords,
        zoom: 18.79,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var marker = new google.maps.Marker({
        position: myCoords,
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
    });
};
</script>
