<div class="companies_index">
  <%= render 'employers/companies/navbar'%>
  <div class="col-md-10">
    <div class="row employer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="wizard-container">
              <div class="card wizard-card" data-color="azure" id="wizard">
                <%= form_for [:employers, @job] , method: :patch do |f|  %>
                  <div class="wizard-header">
                    <h3 class="wizard-title"><%= t("job.jobNewH3")%></h3>
                    <p class="category"><%= t("job.jobNewP")%></p>
                  </div>
                  <div class="wizard-navigation">
                    <div class="progress-with-circle">
                       <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                    </div>
                    <ul>
                      <li>
                        <a href="#details" data-toggle="tab">
                          <div class="icon-circle">
                            <i class="ti-list"></i>
                          </div>
                          <%= t("job.jobNewDetails")%>
                        </a>
                      </li>
                      <li>
                        <a href="#captain" data-toggle="tab">
                          <div class="icon-circle">
                            <i class="ti-briefcase"></i>
                          </div>
                          <%= t("job.jobNewTimetable")%>
                        </a>
                      </li>
                      <li>
                        <a href="#description" data-toggle="tab">
                          <div class="icon-circle">
                            <i class="ti-pencil"></i>
                          </div>
                           <%= t("job.jobNewDescription")%>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane" id="details">
                      <div class="row">
                        <div class="col-sm-12">
                          <h5 class="info-text"> <%= t("job.jobNewH5")%></h5>
                        </div>
                        <div class="col-sm-5 col-sm-offset-1">
                          <div class="form-group">
                            <label> <%= t("job.jobNewTitle")%></label>
                             <%= f.text_field :title ,id: "exampleInputEmail1", class: "form-control"%>
                          </div>
                        </div>
                        <div class="col-sm-5 ">
                          <div class="form-group">
                            <label><%= t("job.jobNewArea")%></label>
                            <%= f.text_field :area , class: "form-control"%>
                          </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-1">
                          <div class="form-group">
                            <label><%= t("job.jobNewGrade")%></label>
                             <%= f.text_field :grade , class: "form-control"%>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label><%= t("job.jobNewExp")%></label>
                            <div class="input-group">
                              <%= f.number_field :exp , class: "form-control"%>
                              <span class="input-group-addon"><%= t("job.jobNewYear")%></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-1">
                          <div class="form-group">
                            <label><%= t("job.jobNewSalary")%></label>
                            <div class="input-group">
                              <%= f.number_field :salary , class: "form-control"%>
                              <span class="input-group-addon">$</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-group">
                            <label><%= t("job.jobNewNumber")%></label>
                            <div class="input-group">
                              <%= f.number_field :number, class: "form-control"%>
                              <span class="input-group-addon"><%= t("job.jobNewPeople")%></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="captain">
                      <h5 class="info-text"><%= t("job.jobNewH52")%> </h5>
                      <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                          <div class="sex">
                            <p>Gender:</p>
                              <%= f.radio_button :sex ,  "0" %> <%= f.label :Male %>
                              <%= f.radio_button :sex ,  "1" %> <%= f.label :Female %>
                              <%= f.radio_button :sex ,  "2" %> <label><%= t("job.jobNewSex")%></label>
                            </div>
                            <p class="time-job"><%= t("job.jobNewTime")%></p>
                            <div class="col-sm-3  col-sm-offset-1">
                              <div class="row">
                                <%= f.radio_button :time_work ,  "0" %> <label><%= t("job.jobNewPartTime")%></label>
                              </div>
                            </div>
                            <div class="col-sm-3 ">
                              <div class="row">
                                <%= f.radio_button :time_work ,  "1" %> <label><%= t("job.jobNewuFullTime")%></label>
                              </div>
                            </div>
                            <div class="col-sm-3 ">
                              <div class="row">
                                <%= f.radio_button :time_work ,  "1" %> <label><%= t("job.jobNewAll")%></label>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="description">
                      <div class="row">
                        <h5 class="info-text"><%= t("job.jobNewH53")%></h5>
                        <div class="col-sm-10 col-sm-offset-1">
                          <div>
                            <%= f.label :description %>
                          </div>
                          <div>
                            <%= f.cktext_area :info, class: "ckeditor" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wizard-footer">
                    <div class="pull-right">
                      <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' />
                      <%= f.submit  class: "btn btn-finish btn-fill btn-primary btn-wd"%>
                    </div>
                    <div class="pull-left">
                      <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Previous' />
                    </div>
                    <div class="clearfix"></div>
                  </div>
                <% end %>
              </div>
            </div> <!-- wizard container -->
          </div>
        </div> <!-- row -->
      </div> <!--  big container -->
    </div>
  </div>
</div>
