<div class="container">
	<div class="col-md-12">
		<div class="row text-center">
			<h1> <%= t("employers.jobs.index.welcome") %> <%= @company.full_name %></h1>
		</div>
	</div>
	<div class="col-md-12 jop-top">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<h2><%= t("employers.jobs.index.jobPost") %></h2>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div id="custom-search-input">
						<div class="input-group col-md-12">
	            <input type="text" class="  search-query form-control" placeholder="<%= t("employers.jobs.index.Search") %>" />
	            <span class="input-group-btn">
	              <button class="btn btn-danger" type="button">
	                <i class="fa fa-search"></i>
	              </button>
	            </span>
	          </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% if @jobs.empty? %>
		<h3><%= t("employers.jobs.index.jobEmpty") %></h3>
		<%= link_to  "#{t("employers.jobs.index.addJob")}", new_employers_job_url, "data-turbolinks": false, class: "btn btn-primary btn-xs pull-left btn-job" %>
	<% else %>
	<table class="table table-striped custab">
		<thead>
			<%= link_to "#{t("employers.jobs.index.addJob")}", new_employers_job_url, "data-turbolinks": false, class: "btn btn-primary btn-xs pull-left btn-job" %>
			<tr>
				<th>STT</th>
				<th><%= t("employers.jobs.index.title") %></th>
				<th><%= t("employers.jobs.index.status") %></th>
				<th>Cv Applied</th>
				<th class="text-center"><%= t("employers.jobs.index.action") %></th>
			</tr>
		</thead>
		<% @jobs.each_with_index do |job,index| %>
		<tr>
			<td><%= index+1 %></td>
			<td>
				<%= link_to job.title, employers_job_path(job.id) %>
			</td>
			<td><%= job.status %></td>
			<td><%= link_to job.applyjobs.count, employers_job_applyjobs_path(job.id) %></td>
			<td class="text-center">
				<%= link_to edit_employers_job_path(job),  class: "btn btn-success btn-sm btn-job" do %>
				  <i class="fa fa-pencil" aria-hidden="true"></i> <%= t("employers.jobs.index.edit") %> 
				<% end %>
				<%= link_to employers_job_path(job),  class: "btn btn-danger btn-sm btn-job" do %>
				  <i class="fa fa-trash" aria-hidden="true"></i> <%= t("employers.jobs.index.delete") %></a>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	<%= will_paginate @jobs %>
	<% end %>
</div>