<%= render 'employers/companies/navbar'%>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-bar"></i>
            <%= t("job.chart") %></div>
          <div class="card-body">
            <%= column_chart @users.group_by_day_of_week(:created_at, format: "%a").count %>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>
      <div class="col-md-6">
        <main>
          <h3><strong><%= @job.title %></strong></h3>
          <div>
            <p class="card-text">
              <h4>
                 <%= image_tag('3.webp',class: "rounded-circle", style: "width: 40px; height: 40px")%>
                <small class="text-muted"><%= @job.user.company.full_name %>
                </small>
              </h4>
                </p>
          </div>
          <div class="image1">
            <%= link_to image_tag('3.webp', style: "width: 520px; height: 200px"), "#" %>
          </div>
          <div>
            <div class="justify-content-start mt-3 addressCareer">
              <div class="addressCareer">
                <div class="mr_3">
                  <i class="fa fa-briefcase fa-lg" aria-hidden="true">
                    <%= @job.title %>
                  </i>
                </div>
                <div >
                  <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"><%= @job.exp %>
                  </i>
                </div>
                <div >
                  <i class="fa fa-usd fa-lg" aria-hidden="true"><%= @job.salary %></i>
                </div>
              </div>
            </div>
          </div>
          <div>
              <hr>
            <div>
              <p style="font-size: 15px">
                <%= @job.info %>
              </p>
            </div>
          </div>   
        </main>
      </div>
    </div>
  </div>

