    <div class = "experience">
     <h1><%= t("global.experience.title") %></h1>
  <div class = "edit-experience">
<button class="btn btn-outline-secondary" onclick="openForm()"> ✚ </button>
</div>
 <ul id="submitter1">
      <% current_user.cv.experiences.each do |experience| %>
    <li><span class='form-control' id="submitter" ><%= experience.name %></span>
 <%= link_to t("global.language.delete"), experience, remote: true, method: :delete, data: { confirm: t("global.language.yousure") },class: 'btn btn-outline-secondary destroy' %>
  </li>
      <% end %>
    </ul>
<div class="form-popup" id="myForm">
<div class="container">
   <div class="form_experience">
  <div class="form-group">
  <%= form_for [ @experience ]  do |f| %>
        <div class="form-group">
      <%= f.label t("global.experience.company") %>
      <%= f.text_field :name, placeholder: '', class: 'form-control' %>
    </div>
    <div class="form-group">
         <%= f.label t("global.experience.company") %>
      <%= f.text_field :title, placeholder: "", class: 'form-control' %>
    </div>

      <div class="form-group">
      <%= f.check_box :work_status, {placeholder: "",class: "form-check-input"}, "open", "closed"  %>
       <%= f.label t("global.experience.work") %>
    </div>

    <div class="form-group">
      <%= f.check_box :work_status2, {placeholder: "", class: "form-check-input"}, "open", "closed"  %>
      <%= f.label t("global.experience.inter") %>
    </div>

    <div class="form-group">
        <%= f.label t("global.experience.des") %>
      <%= f.text_area :description, placeholder: "", rows: "5" ,cols: "90", class: 'form-control' %>
    </div>

     <div class="form-group">
        <%= f.label t("global.experience.from") %>
      <%= f.date_field :work_date, placeholder: 'dd/mm/yyyy' %>
       </div>

        <div class="form-group">
        <%= f.label t("global.experience.to") %>
      <%= f.date_field :work_date2, placeholder: 'dd/mm/yyyy' %>
       </div>
  <br>
 <div class = "submit-language" >
  <button class="btn btn-outline-secondary" type="button"  onclick="closeForm()"> <%=  t("global.language.cancel") %> </button>
    <%= f.submit  t("global.language.up"), class: "hello btn btn-genos" %>
  <% end %>
</div>
</div>
  </div>
</div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".form_experience form").on('submit',function(event) {
      event.preventDefault();
      var formHTML = event.target;
      $.ajax({
        url: formHTML.action,
        method: 'POST',
        data: $(this).serialize(),
        success: function(data){
          $('#experience').html(data);
        }
      });
    });
  });
</script>
