<li id="experience-<%= experience.id %>">
  <th scope="col"> <%= experience.name %></th>
  <th scope="col"> <%= experience.work_date %>──<%= experience.work_date2 %></th>
    <%= link_to "edit", edit_experience_path(experience) , class: "edit-experience" ,"data-id": experience.id %>
    <%= link_to t("global.language.delete"), experience, remote: true, method: :delete, data: { confirm: t("global.language.yousure") },class: 'btn btn-outline-secondary destroy' %>
</li>
