<div class = "partial" >
     <h1>Language</h1>
        <%= render 'shared/error_messages' %>
  <div class="edit-language">
    <button class="btn btn-outline-secondary" onclick="openForm()"> ✚ Add</button>
  </div>
  <div class="form-popup" id="myForm">
    <br>
    <h5 style="text-indent:100px">
    <div class="form_language">
      <%= form_for(CvLanguage.new)  do |f| %>
        <%= f.select :language_id, options_from_collection_for_select(Language.all, "id", "name") %>
        <div class="submit-language">
          <%= f.submit "Up", class: "hello btn btn-primary"%>
          <button class="btn btn-outline-secondary" type="button" onclick="closeForm()"> Cancel </button>
        </div>
      <%end%>
      <br>
    </div>
    </h5>
   </div>
   <ul id="submitter1">
      <% current_user.cv.cv_languages.each do |cv_language| %>
    <li><span class='form-control' id="submitter" ><%= cv_language.language.name %></span>
 <%= link_to "Delete", cv_language, remote: true, method: :delete, data: { confirm: "You sure?" },class: 'btn btn-outline-secondary destroy' %>
  </li>
      <% end %>
    </ul>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".form_language form").on('submit',function(event) {
      event.preventDefault();
      var formHTML = event.target;
      $.ajax({
        url: formHTML.action,
        method: 'POST',
        data: $(this).serialize(),
        success: function(data){
          $('#cv_language').html(data);
        }
      });
    });
  });
</script>
