<div class="container">
  <div>
    <div class="dis">
      <%= link_to company_path(params[:id]) do %>
        <%= image_tag @company.image, :style => "width: 100px; height: 100px; border-radius: 50px;" if @company.image.attached? %>
      <% end %>
      <div class="name_company"><%= @company.full_name %><div><%= @company.email %></div></div>
      <div class="nav_company">
        <div><a href="#">Home</a></div>
        <div><a href="">Members</a></div>
        <div><%= link_to "Jobs", company_jobs_path(@company) %></div>
      </div>
    </div>
    <div>
      <%= image_tag @company.image, :style => "width: 100%; height: 400px" if @company.image.attached? %>
    </div>
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <h1>About</h1>
        <div class="descr_company"><%= @company.descr%></div>
      </div>
    </div>
  </div>

  <hr>

  <div class="ml_2">
    <h1>Company info</h1>
    <div class="info_company">
      <%= image_tag @company.image, :style => "width: 50px; height: 50px; border-radius: 50%;" if @company.image.attached? %>
      <span> <%= @company.full_name%></span>
      <div><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <span> <%= @company.address%></span></div>
      <div><i class="fa fa-link fa-2x" aria-hidden="true"></i> <span> <%= @company.link%></span></div>
      <div><i class="fa fa-users fa-2x" aria-hidden="true"></i> <span> <%= @company.total%></span></div>
      <div><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> <span> <%= @company.email %></span></div>
    </div>
  </div>
  <hr>
  <div class="ml_2">
    <h1>Members</h1>
    <div class="members_company">
      <div>
        <%= image_tag('1.jpg', style: "width: 160px; height: 160px; border-radius: 50%;")%>
        <h4>name</h4>
      </div>
      <div>
        <%= image_tag('1.jpg', style: "width: 160px; height: 160px; border-radius: 50%;")%>
        <h4>name</h4>
      </div>
      <div>
        <%= image_tag('1.jpg', style: "width: 160px; height: 160px; border-radius: 50%;")%>
        <h4>name</h4>
      </div>
      <div>
        <%= image_tag('1.jpg', style: "width: 160px; height: 160px; border-radius: 50%;")%>
        <h4>name</h4>
      </div>
    </div>
  </div>
  <hr>


  <div class="ml_2">
    <h1>Jobs(<%=@company.jobs.count%>)</h1>
    <div class="jobs_company">

      <% @jobs.each do |job| %>
          <div class="col-md-3">
            <%= link_to job_path(job) do %>
              <%= image_tag('1.jpg', style: "width: 100%; height: 150px;") %>
              <h4><%= job.title %></h4>
            <% end %>
          </div>
      <% end %>
      <div class="col-md-12 text-center">
      <hr>
        <%= link_to "More",company_jobs_path(@company) %>
      </div>

    </div>
  </div>
  </div>
