
  <div class="intro_section">
    <input type="button" class="btn btn-outline-secondary add" id="intro_add_button" value=" ✚ " onclick="openForm1()">
  </div>

  <div class="CvIntroductionForm" id="CvIntroductionForm" style="display :none">
    <div class="form_introduction">
      <%= form_for @cv, method: :patch do |f| %>
        <div class="cke-form">
          <%= f.cktext_area :introduction, class: "ckeditor" %>
        </div>
        <div class="submit-introduction">
          <button class="btn btn-danger" type="button" onclick="closeForm1()"> <%= t("cv.cancel") %> </button>
          <%= f.submit t("cv.submit"), class: "hello btn btn-up"%>
        </div>
      <% end %>
      </div>
    </div>
<div class="introduction_main">
  <% if @cv.introduction.nil? %>
    <%= @cv.introduction %>
  <% else %>
    <%= @cv.introduction.html_safe %>
  <% end %>
</div>
<script type="text/javascript">
function openForm1() {
    $("#CvIntroductionForm").show();
}
function closeForm1() {
    $("#CvIntroductionForm").hide();
}

$(document).ready(function() {
    $('.form_introduction form').on('submit', function(event) {
        event.preventDefault();
        CKEDITOR.instances['cv_introduction'].updateElement();
        var formHTML = event.target;
        $.ajax({
            url: formHTML.action,
            method: 'PATCH',
            data: $(this).serialize(),
            success: function(data) {
                $('#introduction').html(data);
                // ck_refresh();
            }
        });
        return false;
    });
});
</script>
