<% if can? :update, @cv %>
  <button class="setting-and-edit" onclick="openForm1()">
    <%= "To edit" %>
  </button>
<% end %>
  <div class="CvIntroductionForm" id="CvIntroductionForm" style="display :none">
    <div class="form-introduction">
      <%= form_for @cv, method: :patch do |f| %>
        <div class="cke-form">
          <%= f.cktext_area :introduction, class: "ckeditor" %>
        </div>
        <div class="submit-introduction">
          <button class="btn btn-danger" type="button" onclick="closeForm1()"> Cancel </button>
          <%= f.submit t("global.up"), class: "hello btn btn-up"%>
        </div>
      <% end %>
      </div>
    </div>
<div>
  <%= @cv.introduction %>
</div>
<script>
function openForm1() {
    $("#CvIntroductionForm").show();
}
function closeForm1() {
    $("#CvIntroductionForm").hide();
}
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('.form-introduction').on('submit', function(event) {
        event.preventDefault();
        CKEDITOR.instances['cv_introduction'].updateElement();
        var formHTML = event.target;
        $.ajax({
            url: formHTML.action,
            method: 'PATCH',
            data: $(this).serialize(),
            success: function(data) {
                $('#introduction').html(data);
                ck_refresh();
            }
        });
        return false;
    });
});
</script>
