<div class="container">
    <div class="company_Info ">
        <div class="col-md-2">
          <ul>
            <li class="nav-item active">
                <%= link_to root_path do %>
                    <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
                <% end %>
            </li>
          </ul>
        </div>
    </div>
    </div>
    <div class="company_form_info col-md-7">
        <h3>New company</h3><br>
        <%= form_for [:employer , @company ] do |f| %>
        <div class="form-group">
            <li class="fa fa-user-circle" aria-hidden="true">
                <%= t("cp.full_name") %> :</li>
            <%= f.text_field :full_name ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-envelope-o" aria-hidden="true"> Email :</li>
            <%= f.text_field :email ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-link" aria-hidden="true">
                <%= t("cp.link") %> :</li>
            <%= f.text_field :link ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-phone" aria-hidden="true">
                <%= t("cp.phone") %> :</li>
            <%= f.number_field :phone ,placeholder: "" , class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-plus-circle" aria-hidden="true">
                <%= t("cp.total") %> :</li>
            <%= f.number_field :total ,placeholder: "", class: 'form-control'  %>
        </div>
        <div class="form-group">
            <li class="fa fa-map-marker" aria-hidden="true">
                <%= t("cp.address") %> :</li>
            <%= f.text_field :address  ,placeholder: "", class: 'form-control' %>
        </div>
        <div class="form-group">
            <li class="fa fa-circle" aria-hidden="true">
                <%= t("cp.descr") %> :</li>
            <%= f.text_area :descr  ,placeholder: "", class: 'form-control' %>
        </div>
        <span class="image">
            <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </span>
        
        <div class="submit-education">
            <%= form_tag employer_companies_path do %>
             <article>
               <% if flash[:error].present? %>
                 <div id="error_explanation">
                   <p><%= flash[:error] %></p>
                 </div>
               <% end %>
               <label class="amount">
                 <span>Amount: $5.00</span>
               </label>
             </article>

             <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                     data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                     data-description="A month's subscription"
                     data-amount="500"
                     data-name="Doan"
                     data-image=""
                     data-locale="auto">
             </script>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
