<div class="container">
    <div class="slider-123">
        <div class="slider center slider-user">
            <% if !@company.images.nil? %>
            <% @company.images.take(3).each do |img|%>
            <div class="card mb-3">
                <%= image_tag img %>
            </div>
            <% end %>
            <% else %>
            <div class="card mb-3">
                <%= link_to image_tag('3.webp'), "#"%>
            </div>
            <div class="card mb-3">
                <%= link_to image_tag('2.webp'), "#"%>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="company_name">
            <h1 class="col-md-4 ">
                <%= @company.full_name %>
            </h1>
            <%= link_to t("cp.edit"), edit_employer_company_path(@company), class: "btn btn-primary edit-company" %>
        </div>
        <hr>
        <div class="lead">
            <% if @company.descr %>
            <%= @company.descr.html_safe %>
            <% end %>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-12 top-footer1 animated wow fadeInRight" data-wow-delay=".5s">
                <%= form_for [:employer , @company ] do |f| %>
                <%= f.label t("cp.add_member") %>
                <%= text_field_tag :user_id %>
                <label class="table table-hover">
                    <tr>
                    </tr>
                </label>
                <%= f.submit t("cp.add"),class: "btn btn-primary" %>
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                <%= t("cp.member") %>
                            </th>
                            <th>
                                <%= t("cp.status") %>
                            </th>
                        </tr>
                    </thead>
                    <% @user_company.each_with_index do |user,index| %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%= link_to user.fullname, user_path(user) %>
                        </td>
                        <td>
                            <%= f.check_box :user_ids, {:multiple => true}, user.id, nil %>
                        </td>
                    </tr>
                    <% end %>
                </table>
                <%= paginate @user_company ,theme: 'twitter-bootstrap-3' %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card my-4 margin-xl" id="company_members">
            <h3 class="card-header"><i class="fa fa-building fa-lg" aria-hidden="true"></i>
                <%= t("cp.company") %>
            </h3>
            <div class="margin-xl" id="padding_info">
                <ul class="margin-xl">
                    <li class="link_to_web">
                        <% if @company.link %>
                        <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                        <%= link_to @company.link.first(30)+ "..." %>
                    </li>
                    <% end %>
                    <li>
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                        <%= @company.address%>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                        <% if @company.email %>
                        <%= @company.email %>
                        <% end %>
                    </li>
                    <li>
                        <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                        <%= @company.phone %>
                    </li>
                    <li>
                        <i class="fa fa-users fa-lg" aria-hidden="true"> </i>
                        <%= @company.total   %>
                        <%= t("cp.member") %>
                    </li>
                </ul>
            </div>
        </div>
        <div id="map" style="display: block;width: 500px; height: 500px;">
            <% if @company.map %>
            <%= @company.map.html_safe %>
            <% end %>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#user_id').autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/employer/members",
            data: { 'q': { 'fullname_cont': request.term } },
            dataType: 'json',
            success: function(data) {
                response($.map(data, function(dataItem) {
                    return { data: dataItem.id, value: dataItem.fullname };
                }));
            },
        });
    },
    select: function(event, ui) {
        $('table').append('<tr><td>' + ui.item.value + '</td><td> <input type="hidden" value="' + ui.item.data + '" name="company[user_ids][]"></td></tr>');
    },
});
</script>
<script type="text/javascript">
$('.slider').slick({
    centerMode: true,
    centerPadding: '110px',
    adaptiveHeight: true,
    slidesToShow: 1,
    arrows: true,
    autoplay: true,
    autoplaySpeed: 3000,
    responsive: [{
            breakpoint: 768,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3
            }
        },
        {
            breakpoint: 480,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
            }
        }
    ]
});
</script>
