<div class="container">
  <%= render 'employers/companies/navbar'%>
  </div>
  <div>
    <div class="col-md-6">
      <div class="company_image">
         <%= image_tag @company.image, :style => "height: 300px" if @company.image.attached?%>
       </div>
      <h1 class="mt-4"><%= @company.full_name %> <%= link_to t("cp.edit"), edit_employer_company_path(@company), class: "btn btn-primary edit-company" %></h1>
      <p class="lead">
        <%= time_ago_in_words(@company.created_at) %>
        <%= t("cp.ago") %>
      </p>
      <hr>
      <p class="lead">
        <% if @company.descr %>
          <%= @company.descr %>
        <% end %>
      </p>
      <hr>
    </div>
    <div class="company_contacts col-md-4">
      <div class="card my-4 margin-xl" id="company_contact">
        <h3 class="card-header"><i class="fa fa-building fa-lg" aria-hidden="true"></i><%= t("cp.company") %></h3>
          <div class="margin-xl">
            <ul class="margin-xl">
              <li class="link_to_web">
                <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                  <%= link_to @company.link %><%="..."%>
              </li>

              <li>
                <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                <%= @company.address%>
              </li>

              <li>
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                <% if @company.email %>
                    <%= @company.email %>
                <% end %>
              </li>

              <li>
                <i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                <%= @company.phone %>
              </li>

              <li>
                <i class="fa fa-users fa-lg" aria-hidden="true"> </i>
                <%= @company.total   %> <%= t("cp.member") %>
              </li>
                </ul>
            </div>
          </div>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    initMap(21.0266484, 105.7704319, 14);
});

function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
        center: myCoords,
        zoom: 18.79,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var marker = new google.maps.Marker({
        position: myCoords,
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
    });
};
</script>
