<div>
    <p id="notice">
        <%= notice %>
    </p>
    <p>
        <strong>Name:</strong>
        <%= @place.name %>
    </p>
    <p>
        <strong>Latitude:</strong>
        <%= @place.latitude %>
    </p>
    <p>
        <strong>Longitude:</strong>
        <%= @place.longitude %>
    </p>
    <p>
        <!-- "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=51.501564,51.499581&key=AIzaSyDinQxQD60u_BK8RWy7p_b4aP3V_txVmcw", alt: "Map" -->
    </p>
    <%= link_to 'Edit', edit_place_path(@place) %> |
    <%= link_to 'Back', places_path %>
</div>
<div id="map" style="display: block;width: 800px; height: 400px;"></div>
<script>
$(document).ready(function() {
    initMap(21.0266484, 105.7704319, 14);
});

function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
        center: myCoords,
        zoom: 18.79,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var marker = new google.maps.Marker({
        position: myCoords,
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
    });
};

</script>
