<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

<footer>
	<hr>
	<div class="container">
		<div class="row" style="display: flex; margin-bottom: 6em">
			<div class="col-md-4">
				<h5><strong><%= t("home.about")%></strong></h5>
				<ul>
					<li><a href="#"><%= t("home.about1")%></a></li>
					<li><a href="#"><%= t("home.about2")%></a></li>
					<li><a href="#"><%= t("home.about3")%></a></li>
					<li><a href="#"><%= t("home.about4")%></a></li>
					<li><%= link_to t("home.about5"), employer_companies_path %></a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5><strong><%= t("home.product")%></strong></h5>
				<ul>
					<li><a href="#">Ruby Fashion</a></li>
					<li><a href="#">Tech Vision</a></li>
				</ul>
			</div>

			<div class="col-md-4">
				<h5><strong><%= t("home.language")%></strong></h5>
				<ul>
				 <li><%= link_to "En", locale:"en" %></li>
					 <li><%= link_to "Vi", locale:"vi"  %></li>
				</ul>
			</div>

	<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></div>&nbsp;&nbsp;&nbsp;
				<div><a href="https://twitter.com/wantedlyeu"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>&nbsp;&nbsp;&nbsp;
				<div><a href="https://www.youtube.com/channel/UCXM8y4bAQXdlKvBoPPnTjrg"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></div>&nbsp;&nbsp;&nbsp;
				<div><a href="https://www.wantedly.com/enterprise/dashboard"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></div>
		</div>
	</div>
</footer>

    <div class="footer">
        <div class="wrap">
             <p class="link"><span>© 2020 JOBS-LAND. All rights Reserved | Designed by&nbsp; <a href="https://www.instagram.com/son_nguyen_dinh/">DINHSON-PR2003F</a> </span>
      </div>
      </div>
      </div>
