<div class="top-header">
</div>
<nav class="navbar navbar-default header-front-end">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%=link_to image_tag('logohome.png',class: "navbar-brand"),root_url%> </li>
      <li class="nav-item cta mr-md-1">
        <%= link_to "employer", employer_companies_path %>
      </li>
      <li>

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= form_for(:search, url: search_path, method: :get, html: {class: "navbar-form navbar-left"}) do |f| %>
        <div class="input-group">
          <input type="text" name="all" class="form-control" placeholder="Search companies, people...">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      <% end %>
      <li class="nav-item">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">

              <%= link_to  news_index_path do%><i class="fa fa-television fa-lg" aria-hidden="true"></i><% end %>
            </li>
            <li class="dropdown nav-item mr-3">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-language fa-2x" aria-hidden="true"></i></a>
              <ul class="dropdown-menu">
                <li><%= link_to "English", locale:"en", class: "dropdown-item" %></li>
                <li><%=  link_to "Vietnamese", locale:"vi", class: "dropdown-item" %></li>
              </ul>
            </li>
            <li class="nav-item mr-4">
              <a href="#"><i class="fa fa-bell-o fa-lg" aria-hidden="true"></i></a>
            </li>
            <li class="dropdown nav-item mr-3">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                  <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
                   <li> <%= link_to  t("userp.applied"),user_applyjobs_path(current_user),class: "dropdown-item"   %></li>
                  <li> <%= link_to  t("userp.saveJob"),user_bookmarks_path(current_user),class: "dropdown-item"   %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                <% else %>
                  <li><%= link_to "Log in", signin_path, class: "dropdown-item" %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
